## Dövr operatorları (LOOP)

### value swapping

In [1]:
a, b = 10, 5

a, b = b, a

In [2]:
a

5

In [3]:
b

10

### Ternary Operator

In [7]:
if a > b:
    print(a)
else:
    print(b)

10

In [8]:
print(a) if a > b else print(b)

10

In [9]:
a if a > b else b

10

In [21]:
a, b = 10, 100

if a > b and a ==  10:
    print(a)
else:
    print(b)

100

In [22]:
a if a > b and a == 10 else b

100

In [28]:
a if a > b and a == 10 else b if b > 150 else 1000

1000

### FOR

In [47]:
range(1,100)

range(1, 100)

In [48]:
for i in range(1, 100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [49]:
for i in range(1, 100):
    i
print(i)

99

In [82]:
for i in range(1, 100):
    pass
print(i)

99

In [51]:
for i in range(1, 100, 2):
    print(i, end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [52]:
for i in range(2, 100, 2):
    print(i, end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

In [67]:
for i in range(0,100):   
    x = 100-i
    print(x, end=",")

100,99,98,97,96,95,94,93,92,91,90,89,88,87,86,85,84,83,82,81,80,79,78,77,76,75,74,73,72,71,70,69,68,67,66,65,64,63,62,61,60,59,58,57,56,55,54,53,52,51,50,49,48,47,46,45,44,43,42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [69]:
for i in range(100, 0, -1):   
    print(i, end=",")

100,99,98,97,96,95,94,93,92,91,90,89,88,87,86,85,84,83,82,81,80,79,78,77,76,75,74,73,72,71,70,69,68,67,66,65,64,63,62,61,60,59,58,57,56,55,54,53,52,51,50,49,48,47,46,45,44,43,42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [70]:
for i in range(99, 0, -2):   
    print(i, end=",")

99,97,95,93,91,89,87,85,83,81,79,77,75,73,71,69,67,65,63,61,59,57,55,53,51,49,47,45,43,41,39,37,35,33,31,29,27,25,23,21,19,17,15,13,11,9,7,5,3,1,

In [65]:
result = 0

for i in range(0,100):   
    result += i

result

4950

In [95]:
result = 0

for i in range(0,100):   
    result = result + i
    print(f"i = {i}", f"result = {result}", end=",  ")

result

i = 0 result = 0,  i = 1 result = 1,  i = 2 result = 3,  i = 3 result = 6,  i = 4 result = 10,  i = 5 result = 15,  i = 6 result = 21,  i = 7 result = 28,  i = 8 result = 36,  i = 9 result = 45,  i = 10 result = 55,  i = 11 result = 66,  i = 12 result = 78,  i = 13 result = 91,  i = 14 result = 105,  i = 15 result = 120,  i = 16 result = 136,  i = 17 result = 153,  i = 18 result = 171,  i = 19 result = 190,  i = 20 result = 210,  i = 21 result = 231,  i = 22 result = 253,  i = 23 result = 276,  i = 24 result = 300,  i = 25 result = 325,  i = 26 result = 351,  i = 27 result = 378,  i = 28 result = 406,  i = 29 result = 435,  i = 30 result = 465,  i = 31 result = 496,  i = 32 result = 528,  i = 33 result = 561,  i = 34 result = 595,  i = 35 result = 630,  i = 36 result = 666,  i = 37 result = 703,  i = 38 result = 741,  i = 39 result = 780,  i = 40 result = 820,  i = 41 result = 861,  i = 42 result = 903,  i = 43 result = 946,  i = 44 result = 990,  i = 45 result = 1035,  i = 46 result = 1081,  i = 47 result = 1128,  i = 48 result = 1176,  i = 49 result = 1225,  i = 50 result = 1275,  i = 51 result = 1326,  i = 52 result = 1378,  i = 53 result = 1431,  i = 54 result = 1485,  i = 55 result = 1540,  i = 56 result = 1596,  i = 57 result = 1653,  i = 58 result = 1711,  i = 59 result = 1770,  i = 60 result = 1830,  i = 61 result = 1891,  i = 62 result = 1953,  i = 63 result = 2016,  i = 64 result = 2080,  i = 65 result = 2145,  i = 66 result = 2211,  i = 67 result = 2278,  i = 68 result = 2346,  i = 69 result = 2415,  i = 70 result = 2485,  i = 71 result = 2556,  i = 72 result = 2628,  i = 73 result = 2701,  i = 74 result = 2775,  i = 75 result = 2850,  i = 76 result = 2926,  i = 77 result = 3003,  i = 78 result = 3081,  i = 79 result = 3160,  i = 80 result = 3240,  i = 81 result = 3321,  i = 82 result = 3403,  i = 83 result = 3486,  i = 84 result = 3570,  i = 85 result = 3655,  i = 86 result = 3741,  i = 87 result = 3828,  i = 88 result = 3916,  i = 89 result = 4005,  i = 90 result = 4095,  i = 91 result = 4186,  i = 92 result = 4278,  i = 93 result = 4371,  i = 94 result = 4465,  i = 95 result = 4560,  i = 96 result = 4656,  i = 97 result = 4753,  i = 98 result = 4851,  i = 99 result = 4950,

4950

In [84]:
sum(range(1,100))

4950

In [98]:
result = 0

for i in range(2, 100, 2):
    result += i

print(result)

2450

In [99]:
result = 0

for i in range(1, 100, 2):
    result += i

print(result)

2500

In [100]:
text = "salam"

for i in text:
    print(i)

s
a
l
a
m

In [104]:
text = "salam"

for i in range(0, len(text)):
    print(text[i])

s
a
l
a
m

In [105]:
text = "salam"

for i in range(len(text)):
    print(text[i])

s
a
l
a
m

In [119]:
text = "salam"

for i in range(len(text)):
    print(text[0:len(text)-i])

salam
sala
sal
sa
s

In [120]:
text = "salam"

for i in range(len(text)):
    print(text[i:])

salam
alam
lam
am
m

In [118]:
text = ""


for i in range(5):
    alphabet = input()
    text += alphabet

print(text)

s
a
l
a
m
salam

In [112]:
result = 0

for i in range(1,100):
    if i % 2:
        result += i  

result

2500

In [113]:
result = 0

for i in range(1,100):
    if not i % 2:
        result += i  

result

2450

In [116]:
list_ = []


for i in range(5):
    x = int(input())
    list_.append(x)

print(list_)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [141]:
a = [1, 3, 4, 5, 6]


for i in a:
    print(i)

1
3
4
5
6

In [142]:
a = [1, 3, 4, 5, 6]


for i in range(len(a)):
    print(a[i])

1
3
4
5
6

In [143]:
a = [1, 3, 4, 5, 6]

b = a + 1
    
b

TypeError: can only concatenate list (not "int") to list

In [144]:
a = [1, 3, 4, 5, 6]


for i in range(len(a)):
    a[i] += 1

a

[2, 4, 5, 6, 7]

In [145]:
a = [1, 3, 4, 5, 6]
b = []

for i in a:
    b.append(i + 1)

print(b)

[2, 4, 5, 6, 7]

In [147]:
### list comprehension

a = [1, 3, 4, 5, 6]

a = [i+1 for i in a]

a

[2, 4, 5, 6, 7]

In [150]:
kitab = {
    "Name": "Ağıllı zadəgan Don Kixot",
    "Author": "Servantes",
    "Rating": 9.5,
    "Price": 10
}


for i in kitab:
    print(i)

Name
Author
Rating
Price

In [154]:
for i in kitab.items():
    print(i)

('Name', 'Ağıllı zadəgan Don Kixot')
('Author', 'Servantes')
('Rating', 9.5)
('Price', 10)

In [155]:
for i in kitab.keys():
    print(i)

Name
Author
Rating
Price

In [156]:
for i in kitab.values():
    print(i)

Ağıllı zadəgan Don Kixot
Servantes
9.5
10

In [161]:
for i, j in kitab.items():
    print(i, j, sep=": ")

Name: Ağıllı zadəgan Don Kixot
Author: Servantes
Rating: 9.5
Price: 10

### for in for

In [162]:
a = [[1, 2, 3], [4, 5, 6]]

for i in a:
    print(i)

[1, 2, 3]
[4, 5, 6]

In [163]:
a = [[1, 2, 3], [4, 5, 6]]

for i in a:
    for j in i:
        print(j)

1
2
3
4
5
6

In [173]:
a = [['Azerbaijan', "Baku"], ["Ganca"]]

for i in a:
    print(i)

['Azerbaijan', 'Baku']
['Ganca']

In [174]:
a = [['Azerbaijan', "Baku"], ["Ganca"]]

for i in a:
    for j in i:
        print(j)

Azerbaijan
Baku
Ganca

In [175]:
a = [['Azerbaijan'], ["Baku"]]

for i in a:
    for j in i:
        for k in j:
            print(k)

A
z
e
r
b
a
i
j
a
n
B
a
k
u

In [181]:
kitab = {
    "Name": "Ağıllı zadəgan Don Kixot",
    "Author": "Servantes",
    "Rating": 9.5,
    "Price": 10
}


for i in kitab.items():
    for j in i:
        print(j)

Name
Ağıllı zadəgan Don Kixot
Author
Servantes
Rating
9.5
Price
10

In [184]:
result = [i * j for i in range(1, 3) for j in range(1, 4)]
result

[1, 2, 3, 2, 4, 6]

In [185]:
result = []
for i in range(1, 3):
    for j in range(1, 4):
        result.append(i * j)
result

[1, 2, 3, 2, 4, 6]

In [186]:
for i in range(1,5):
    print(100)

100
100
100
100

### for-else,  break, continue

Python-da `for-else` konstruksiyası dövr (loop) normal şəkildə başa çatanda (`break` olmadan) `else` blokunun işləməsini təmin edir.

* Əgər `axtarilan` ədədi siyahıda tapılarsa, `break` ilə dövr dayandırılır və `else` işləməz.
* Əgər `axtarilan` siyahıda yoxdursa, dövr `break` olmadan bitər və `else` bloku işləyər.

Bu konstruksiya, xüsusilə axtarış əməliyyatlarında istifadə olunur.

In [12]:
axtarilan = 5
ededler = [1, 3, 4, 6, 7]

for i in ededler:
    if i == axtarilan:
        print("Ədəd tapıldı!")
        break
else:
    print("Ədəd tapılmadı.")

Ədəd tapılmadı.

In [13]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [14]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if i == 5:
        break
    print(i)

1
2
3
4

In [15]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

## Dərs 8. Dövr operatorları (for). Ev tapşırıqları

### 1. Bir list dəyişəni götürün.  Sonra bu listin elementlərini aralarında vergül qoymaqla çap edin.

In [19]:
list1 = [1, 2, 3, "Adil", 4, 5, 6]


for i in list1:
    print(i, end=", ")

1, 2, 3, Adil, 4, 5, 6,

### 2. 1-dən 100-dək ədədlərin kvadratları cəmini çapa verin.

In [20]:
a = 0

for i in range(1,100):
    a += i**2

print(a)

328350

### 3. Bir list dəyişəni götürün. Bu listin 5-dən böyük olan elementlərini başqa listə yazın və çap edin.

In [24]:
list1 = [2, 7,  8, 9, -11]
list2 = []

for i in list1:
    if i >  5:
        list2.append(i)

print(list1)        
print(list2)

[2, 7, 8, 9, -11]
[7, 8, 9]

### 4. Bir list dəyişəni götürün. Bu listin tək elementlərinin kvadratları ilə cüt elementlərinin kubları cəmini hesablayıb çapa verin.

In [28]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = 0

for i in list1:
    if i % 2:
        result += i**2
    else:
        result += i**3
        
print(result)

965

### 5. İnt tipli a və b (a < b) dəyişənləri götürün. a və b aralığında 5-ə bölünen ədədlərin hasilini çap edin.

In [30]:
a = 1
b = 10
flag = 1

for i in range(a, b+1):
    if not i % 5:
        flag *= i
            
print(flag)

50

### 6. Bir list dəyişəni götürün. Bu listin ən böyük elementini çap edin.

In [72]:
list1 = [3, 5, 4, 7, -11, 0, -2]

max_ = list1[0]

for i in range(1, len(list1)):
    if list1[i] > max_:
        max_ = list1[i]

print(max_)

7

### 7. Terminaldan daxil edilmiş ədədin faktorialını hesablayıb çap edin. Məs: 5! = 1*2*3*4*5 və s.

In [33]:
a = 5
result = 1

for i in range(2, a+1):
    result *= i
    
print(result)

120

In [34]:
import math

math.factorial(5)

120

### 8. Terminaldan daxil edilmiş ədədi sadə və ya mürəkkəb olduğunu çap edin.

In [35]:
n = int(input())

for i in range(2, n):
    if not n % i:
        print("Eded murekkebdir")
        break
else:
    print("Eded sadedir")

17
Eded sadedir

### 9. For dövr operatorundan istifadə edərək, aşağıdakı fiquru çap edin.

In [36]:
# *
# **
# ***
# ****
# *****

In [44]:
a = 6

for i in range(1, a):           
    print("*"*i)


for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****
*
**
***
****
*****

### 10. Bir list dəyişəni götürün. Əgər listdəki element 5-dən kiçikdirsə, onu kvadratı ilə, 5-ə bərabərdirsə, 2 misli ilə, 5-dən böyükdürsə, kubu ilə əvəz edin.

In [46]:

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]



for i in range(len(list1)):
    if list1[i] < 5:
        list1[i] = list1[i]**2
    elif list1[i] == 5:
        list1[i] = list1[i]*2
    else:
        list1[i] = list1[i]**3        

print(list1)

[1, 4, 9, 16, 10, 216, 343, 512, 729]

### 11.Listin elementlerinin sade ve ya murekkeb oldugunu yoxla.

In [47]:

list1 = [143, 27, 17, 55]

for i in list1:
    for j in range(2,i):
        if not i % j:
            print(f"{i} murekkebdir")
            break
    else:
        print(f"{i} sadedir")

143 murekkebdir
27 murekkebdir
17 sadedir
55 murekkebdir

### While

In [81]:
for i in range(1, 100):
    if i == 10:
        break
    print(i, end=", ")

1, 2, 3, 4, 5, 6, 7, 8, 9,

In [53]:
for i in range(1, 100):
    if i == 10:
        continue
    print(i, end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,

In [56]:
i = 0

while i < 100:
    print(i, end=", ")
    i += 1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,

In [60]:
i = 1

while i < 100:
    print(100 - i, end=", ")
    i += 1

99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1,

In [67]:
i = 99

while i > 0:
    print(i, end=", ")
    i -= 1

99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1,

In [71]:
i = 104

while i > 100:
    i -= 1
    print(i, end=", ")

103, 102, 101, 100,

In [72]:
i = 0

while i < 100:
    print(i, end=", ")
    i += 1
    if i == 40:
        break

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

In [76]:
i = 0

while True:
    print(i, end=", ")
    i += 1
    if i ==10:
        break

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [80]:
i = 100

while i:
    print(i, end=", ")
    i -= 1
    
# Qeyd  i = 0 da False  dır,  while  qarşısıinda false gorüb saxladı dövrü

100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1,

##  Dərs 9. Dövr operatorları. While dövr operatoru. Ev tapşırıqları. Məsələləri həm for, həm də while operatoru ilə həll edin.)

### 1. İki int tipli a və b dəyişəni götürün. a və b aralığında eyni anda həm 2-yə, həm də 3-ə bölünən ədədlərin cəmini hesablayın.

In [87]:
a = 1 
b = 20
c = 0

for i in range(a, b+1):
    if not i % 2 and not i % 3:
        c += i
                                   
if c == 0:
    c = "bu araligda bele eded yoxdur"
           
print(c)


#########################

a = 1 
b = 20
c = 0

i = a
while i <= b:
    if not i % 2 and not i % 3:
        c += i
    i += 1    

if c == 0:
    c = "bu araligda bele eded yoxdur"

print(c)

36
36

### 2. Bir list dəyişəni götürün. Bu listin 5-dən böyük və 20-dən kiçik olan elementlərini çap edin.

In [93]:
list1 = [1, 2, 3, 4, 6, 7, 8, 9, 10, 21, 22, 23, 24, 25]

for i in list1:
    if i > 5 and i < 20:
        print(i, end =", ")
print()
###################################################

list1 = [1, 2, 3, 4, 6, 7, 8, 9, 10, 21, 22, 23, 24, 25]

i = 0
while i < len(list1):
    if list1[i] > 5 and list1[i] < 20:
        print(list1[i], end= ", ")
    i += 1

6, 7, 8, 9, 10,
6, 7, 8, 9, 10,

### 3. Bir int tipli dəyişən götürün. Daxil olunmuş ədədin bütün bölənlərini çapa verin.

In [98]:
a = 20

for i in range(1, a+1):
    if not a % i:
        print(i, end= ", ")

print()        
##############

a = 20

i = 1
while i <= a:
    if not a % i:
        print(i, end= ", ")
    i += 1

1, 2, 4, 5, 10, 20,
1, 2, 4, 5, 10, 20,

### 4. Bütün elementləri str tipində olan bir list dəyişəni götürün. List daxilində palindrom lan elementləri çapa verin. (Palindrom string tərsi özünə bərabər olan stringdir. Məsələn: kiçik, kələk və s.)

In [130]:
list1 = ["kiçik", "Baku", "lol"]

for i in list1:
    if i == i[::-1]:
        print(i, end=", ")

print()
#################################

list1 = ["kiçik", "Baku", "lol"]

i = 0
while i < len(list1):
    if list1[i] == list1[i][::-1]:
        print(list1[i], end=", ")
    i += 1

kiçik, lol,
kiçik, lol,

### 5. İki int tipli a və b dəyişəni götürün. a və b aralığında mükəmməl ədədləri çapa verin. (Bütün bölənlərinin cəminə bərabər olan ədəd mükəmməl ədəddir. Məs: 6 = 1+2+3 və s.)

In [135]:

a = 1
b = 100

for i in range(a, b+1):
    c = 0
    for j in range(1, i):
        if not i % j:
            c += j
    if c == i:
        print(i, end=", ")

6, 28,

In [136]:
#################################

a = 1
b = 100

i = a
while i < b+1:
    j = 1
    c = 0
    while j < i:
        if not i % j:
            c += j
            
        j += 1
        
    if c == i:
        print(f"{i} mukemmel ededdir")
    i += 1

6 mukemmel ededdir
28 mukemmel ededdir

#### 6. Dövr operatorlarından istifadə edərək aşağıdakı fiquru çap edin:

In [137]:
# *****
# ****
# ***
# **
# *

for i in range(0,5):
    x = 5-i
    print("*" * x)

*****
****
***
**
*

In [2]:
for i in range(5, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [4]:
i = 0
while i < 4:
    x = 5-i
    print("*" * x)
    i += 1

*****
****
***
**

In [7]:
i = 5
while i > 0:
    print("*" * i)
    i -= 1

*****
****
***
**
*

In [8]:
i = 5
while i:
    print("*" * i)
    i -= 1

*****
****
***
**
*

### 7. Dövr operatorlarından istifadə edərək aşağıdakı fiquru çap edin:

In [9]:
# *********
#  *******
#   *****
#    ***
#     *

In [12]:

for i in range(5):
    print(("*" * (9-2*i)).center(9))

*********
 *******
  *****
   ***
    *

In [13]:
i = 0
while i < 5:
    print(("*" * (9-2*i)).center(9))
    i +=1

*********
 *******
  *****
   ***
    *

### 8. İki int tipli a və b dəyişəni götürün. a və b aralığında kvadrat ədədlərin hasilini tapın.

In [29]:
a = 1
b = 25
c = 1

for i in range(a, b+1):
    if i**0.5 == int(i**0.5):
        print(i, end=", ")
        c *= i

print()       
print(f"Hasil = {c}")
print()

##############################################

a = 1
b = 25

i = a
while i <= b:
    if i**(1/2) == int(i**(1/2)):
        print(i, end=", ")
    i += 1

1, 4, 9, 16, 25,
Hasil = 14400

1, 4, 9, 16, 25,

### 9. İki int tipli a və b dəyişəni götürün. a və b aralığında bölənlərinin sayı 3 olan ədədləri çap edin.

In [37]:
a = 1
b = 100

for i in range(a, b+1):
    c = 0
    for j in range(1, i+1):
        if not i % j:
            c += 1
    if c == 3:
        print(i, end=", ")

4, 9, 25, 49,

In [40]:
##############################################

a = 1
b = 100

i = a
while i <= b:
    c = 0
    j = 1
    while j < i+1:
        if not i % j:
            c += 1
        j += 1    
    if c == 3:
        print(i, end=", ")         
    i += 1

4, 9, 25, 49,

### 10. Dövr operatorlarından istifadə edərək aşağıdakı vurma cədvəlini çapa verin:

In [41]:
# 5 * 1 = 5
# 5 * 2 = 10
# 5 * 3 = 15
# 5 * 4 = 20
# 5 * 5 = 25
# .....
# 5 * 10 = 50

In [43]:

for i in range(1, 11):
    x = 5*i
    print(f"{5} * {i} = {x}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [46]:
#######################################

i = 1
while i <= 10:
    x = 5 * i
    print("{} * {} = {}".format(5, i, x))
    i += 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### 11. İki int tipli a və b dəyişəni götürün. Onların aranjemanını hesablayıb çap edin. (Aranjeman bu düsturla hesablanır: A(a,b) = a!/(a-b)!)

In [62]:
a = 5
b = 2
c = 1
d = 1

# a!
for i in range(2, a+1):
    c *= i

print(c)    

# (a-b)!
for j in range(2, a-b+1):
    d *= j
    
print(d)    

# a!/(a-b)!    
print(c/d)

120
6
20.0

In [63]:
###############################################

a = 5
b = 2
c = 1

for i in range(a-b+1, a+1):
    c *= i
print(c)

20

In [65]:
################################################

a = 5
b = 2
c = 1
d = 1

i = 1
while i <= a:
    c *= i
    i += 1
    
j = 1
while j <= a - b:
    d *= j
    j += 1
    
print(c/d)

20.0

### 12. Bir list dəyişəni götürün. Bu listin ən böyük elementi ilə ən kiçik elementini çap edin.

In [85]:
list1 = [4, 2, -3, 4, 5, 6]

list1.sort()
print(f"{list1[0]} en kicik elementdir", end=", ")
print("%d en boyuk elementdir" % (list1[-1]))

-3 en kicik elementdir, 6 en boyuk elementdir

In [86]:
print(max(list1))
print(min(list1))

6
-3

In [87]:
list1 = [4, 2, -3, 4, 5, 6]

max_ =  list1[0]
min_ = list1[0]

for i in range(1, len(list1)):
    if list1[i] > max_:
        max_ =  list1[i]
        
    if list1[i] < min_:
        min_ =  list1[i]    
        
print(max_)
print(min_)

6
-3

In [88]:
#########################################

list1 = [4, 2, -3, 4, 5, 6]

max_ =  list1[0]
min_ = list1[0]

i = 0
while i < len(list1):
    if list1[i] > max_:
        max_ =  list1[i]
        
    if list1[i] < min_:
        min_ =  list1[i]
        
    i += 1    

print(max_)
print(min_)

6
-3