## List comprehesion

In [1]:
# adi qayda

list1 = []
a = int(input())

for i in range(a):
    b = int(input())
    list1.append(b)
    
list1

5
1
2
3
4
5

[1, 2, 3, 4, 5]

In [2]:
# list comprehesion 

a = int(input())
list1 = [int(input()) for i in range(a)]

print(list1)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [3]:
list1 = [int(input()) for i in range(int(input()))]

print(list1)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

## Data Analita üçün lazım olan

In [10]:
for i in range(5):
    print(i, end=", ")

0, 1, 2, 3, 4,

In [11]:
list1 = []

for i in range(5):
    list1.append(i)

list1

[0, 1, 2, 3, 4]

In [12]:
list1 = [i for i in range(5)]

list1

[0, 1, 2, 3, 4]

In [13]:
list1 = [i**2 for i in range(5)]

list1

[0, 1, 4, 9, 16]

In [17]:
a = 5
b = 10

list1 = [a + b for i in range(5)]

print(list1)

[15, 15, 15, 15, 15]

In [19]:
a = 5
b = 10

list1 = [a + b + i for i in range(5)]
list1

[15, 16, 17, 18, 19]

In [23]:
a = 10
b = 9

list1 = [i for i in range(5) if a < b]

print(list1)

[]

In [32]:
a = 6
b = 7

if a > b:
    c = a
else:
    c = b

c = a if a > b else b


list1 = [i if a > b else i**2 for i in range(5)]

list1

[0, 1, 4, 9, 16]

### Exception Handling: try , expect

In [37]:
a = 10
b = 0

c = a//b

ZeroDivisionError: integer division or modulo by zero

In [39]:
a = 10
b = 0

try:
    c = a//b
except:
    print("0-a bolmek olmaz")

0-a bolmek olmaz

In [40]:
a = 0
b = 10

try:
    c = a//b
    print(c)
except:
    print("0-a bolmek olmaz")

0

In [41]:
a = 5
b = "5"

try:
    c = a + b
except:
    print("toplamaq olmaz")

toplamaq olmaz

In [42]:
a = 5
b = "5"

try:
    c = a + b
except:
    print("toplamaq olmaz")   
finally:
    print("eded daxil edin")

toplamaq olmaz
eded daxil edin

In [43]:
a = 5
b = 5

try:
    c = a + b
except:
    print("toplamaq olmaz")   
finally:
    print("eded daxil edin")

eded daxil edin

In [50]:
try:
    a = 1
    b = "0"
    c = a/b
except TypeError:
    print("Zehmet olmasa eded daxil edin")

Zehmet olmasa eded daxil edin

In [52]:
try:
    a = 1
    b = 0
    c = a/b
except ValueError:
    print("Zehmet olmasa eded daxil edin")

ZeroDivisionError: division by zero

In [53]:
try:
    a = 1
    b = 0
    c = a/b
except ZeroDivisionError:
    print("Zehmet olmasa eded daxil edin")

Zehmet olmasa eded daxil edin

In [59]:

try:
    a = 5
    b = 0
    c = "0"
#     result1 = a / b
    result2 = a/ c
except ZeroDivisionError:
    print("0-a bolmek olmaz")
except TypeError:
    print("zehmet olmasa eded daxil edn")

zehmet olmasa eded daxil edn

##    Ders 11. List-in daxil olunmasini qisa yazilisi. Comprehesion

### 1. İki list dəyişəni götürün. Birinci listdə olub, ikinci listdə olmayan elementləri yeni bir listə yığıb çapa verin.

In [65]:
list1 = [1, 2, "Gilan", 8, 99]
list2 = ["Gilan", 99, 2]

list3 = [i for i in list1 if i not in list2]

print(list3)

[1, 8]

In [66]:
### adi qaydada

list1 = [1, 2, "Gilan", 8, 99]
list2 = ["Gilan", 99, 2]

list3 = []

for i in list1:
    if i not in list2:
        list3.append(i)
        
list3

[1, 8]

### 2. Elementləri list olan bir list dəyişəni götürün. Bu listin elementlərinin ən böyük elementlərini çap edin.

In [74]:
matrix = [[1, 5], [-1, 0]]

for i in matrix:
    max_ = i[0]
    for j in range(1, len(i)):
        if i[j] > max_:
            max_ = i[j]
    
    print(max_, end=", ")

5, 0,

In [88]:
matrix = [[1, 5], [-1, 0]]

[max(i) for i in matrix]

[5, 0]

### 3. Bir list dəyişəni götürün. Bu listin 5-dən böyük və 20-dən kiçik olan elementlərini başqa list-ə qısa yazılışla çap edin.

In [90]:
list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i > 5 and i < 20:
        print(i, end=", ")

6, 7, 8, 9, 10,

In [91]:
list1 = [1,2,3,4,5,6,7,8,9,10]

list2 = [i for i in list1 if i > 5 and i < 20]

list2

[6, 7, 8, 9, 10]

### 4. Bütün elementləri str tipində olan bir list dəyişəni götürün. List daxilində palindrom olan elementləri  başqa list-ə qısa yazılışla çap edin. (Palindrom string tərsi özünə bərabər olan stringdir. Məsələn: kiçik, kələk və s.)

In [94]:
list1 = ["lol", "lal", "al", "kal"]

list2 = [i for i in list1 if i == i[::-1]]

list2

['lol', 'lal']

### Maraqlı nümunələr

In [96]:
try:
    print(x)
except NameError:
    print(" x-in qiymeti taninmir")

5

In [101]:
a = "imtahana az qalir"
b = a.split(" ")
print(b)
b.reverse()
print(b)
b = " ".join(b)
b

['imtahana', 'az', 'qalir']
['qalir', 'az', 'imtahana']

'qalir az imtahana'

In [102]:
" ".join('salam')

's a l a m'

In [109]:
list1 = ["salam", "Baki", "Gence"]
list1 = "\n".join(list1)
print(list1)

salam
Baki
Gence

In [113]:
list2 = [5, 4, 3]
list2 ="\n".join(list2)
print(list2)

### Qeyd: çünki join string funksiyasıdır

TypeError: sequence item 0: expected str instance, int found

In [122]:
s = "imtahana az qalir yeqin niye"
n = s.split(" ")
print(n)
m = len(n)
print(m)
print(n[m-4])

['imtahana', 'az', 'qalir', 'yeqin', 'niye']
5
az

In [123]:
a = "alma,armud"
b = list(a)
print(b)

['a', 'l', 'm', 'a', ',', 'a', 'r', 'm', 'u', 'd']

In [128]:
a = "alma,armud"
b = a.split(",")

b

['alma', 'armud']

In [124]:
a = "salam"
b = "t".join(a)
print(b)

statltatm

In [126]:
c = "salam"
p = c.split()
p

['salam']