## Set Ümumi anlayış

- **Set-də indekslənmə və element sırası yoxdur. Elementə muraciət etmək olmur. Eyni elementdən yalnız birini saxlayir.**

In [3]:
a = {1, 2, 3, 3, "alma", "armud", "alma"}
a

{1, 2, 3, 'alma', 'armud'}

In [5]:
a[0]

TypeError: 'set' object is not subscriptable

In [6]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set3 = set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [7]:
a

{1, 2, 3, 'alma', 'armud'}

In [10]:
b = list(a)
b

['alma', 2, 3, 1, 'armud']

In [12]:
a = set(b)
a

{1, 2, 3, 'alma', 'armud'}

## Set Functions

### 1. add() → set-ə yalnız bir qiymət əlavə edir və None qaytarır → set1.add(5)

In [13]:
set1 = {1, 2, 3}


set1.add(10)

In [15]:
set1

{1, 2, 3, 10}

In [18]:
set1.add((10, 5))
set1

{(10, 5), 1, 10, 2, 3}

### 2. update() → set-ə iterable tipli dəyişən əlavə etmək üçün update()-ə iterable-i yazırıq və None qaytarır → set1.update({2, 5, 8, "salam"}), set1.update((1, 3, 5)), set1.update([3, 4, 7, 8]) → set1.update(set2)

In [19]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set1.update(set2)


print(set1)

{1, 2, 3, 4, 5}

In [20]:
set1 = {1, 2, 3}

set1.update(10)      #iterable olmadigindan error verdi

TypeError: 'int' object is not iterable

In [31]:
set1 = {1, 2, 3}

set1.update("Salam")      #iterable olmadigindan error verdi

set1

{1, 2, 3, 'S', 'a', 'l', 'm'}

In [36]:
set1 = {1, 2, 3}

set1.update({2, 5, 8, "salam"})

set1

{1, 2, 3, 5, 8, 'salam'}

In [37]:
set1.update((7, 8, 9))

set1

{1, 2, 3, 5, 7, 8, 9, 'salam'}

In [38]:
set1.update([3, 22, 7, -8])

set1

{-8, 1, 2, 22, 3, 5, 7, 8, 9, 'salam'}

In [40]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}


set1 |= set2

set1

{1, 2, 3, 4, 5}

In [41]:
set2

{2, 3, 4, 5}

### 3. remove() → set-dən remove()-a yazdığımız qiyməti silirik və None qaytarır. Qiymət set-də yoxdursa KeyError: qiymət verir. → set1.remove(10)

In [43]:
set1 = {1, 2, 3}


set1.remove(10)  

set1

KeyError: 10

In [44]:
set1 = {1, 2, 3}


set1.remove(2)  

set1

{1, 3}

### 4. discard() → set-dən discard()-a yazdığımız qiyməti silirik və None qaytarır. Qiymət set-də yoxdursa set heç bir dəyişiklik olmadan çap olunur. → set1.discard(10)

In [1]:
set1 = {1, 2, 3}

set1.discard(10)

set1

{1, 2, 3}

In [3]:
set1.discard(1)
set1

{2, 3}

### 5. pop() → pop() set-dən random olaraq bir element silir və həmin elementin qiymətini qaytarır. → set1.pop()

In [4]:
set1 = {10, 11, 21, 3}


print(set1.pop())

print(set1)

11
{10, 3, 21}

### 6. union() → set1.union(set2) bu set-ləri birləşdirir və yeni bir set yaradır ki, ya yeni bir dəyişənə yazılmalıdır, ya da print edilməlidir. → set3 = set1.union(set2)

In [5]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set1.union(set2)

{1, 2, 3, 4, 5}

In [6]:
set1

{1, 2, 3}

In [7]:
set2

{2, 3, 4, 5}

In [8]:
set3 = set1.union(set2)

set3

{1, 2, 3, 4, 5}

In [9]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}
set3 = {"Baku", 'Ganca'}


set4 = set1.union(set2, set3)

set4

{1, 2, 3, 4, 5, 'Baku', 'Ganca'}

### 7. intersection() → set3 = set1.intersection(set2) bu set-lərin kəsişməsini verir və yeni bir set yaradır ki, ya yeni bir dəyişənə yazılmalıdır, ya da print edilməlidir. → set3 = set1.intersection(set2)

In [12]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set3 = set1.intersection(set2)

print(set3)

{2, 3}

### 8. intersection_update() → set1.intersection_update(set2) bu set-lərin kəsişməsini birinci (set1) set-ə mənimsədir və None qaytarır. → set1.intersection_update(set2)

In [13]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set3 = set1.intersection_update(set2)

print(set3)

None

In [14]:
set1

{2, 3}

In [15]:
set2

{2, 3, 4, 5}

### 9.difference() → set1.difference(set2) birinci set-dən ikinci set-də eyni olan elementlər çıxarılır və yeni bir set yaradır ki, ya yeni bir dəyişənə yazılmalıdır, ya da print edilməlidir. → set3 = set1.difference(set2)

In [16]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set3 = set1.difference(set2)

print(set3)

{1}

In [17]:
set1

{1, 2, 3}

In [18]:
set2

{2, 3, 4, 5}

### 10. difference_update() → set1.difference_update(set2) birinci set-dən ikinci set-də eyni olan elementlər çıxarılır və birinci (set1) set-ə mənimsədilir və None qaytarır. → set1.difference_update(set2)

In [19]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set3 = set1.difference_update(set2)

print(set3)

None

In [20]:
set1

{1}

In [21]:
set2

{2, 3, 4, 5}

### 11. symmetric_difference() → set1.symmetric_difference(set2) bu set-lərdə eyni olan elementlər çıxarılır və set-lər birləşdirilib yeni bir set yaradır ki, ya yeni bir dəyişənə yazılmalıdır, ya da print edilməlidir. → set3 = set1.symmetric_difference(set2)

In [23]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set3 = set1.symmetric_difference(set2)

print(set3)

{1, 4, 5}

### 12 symmetric_difference_update() → set1.symmetric_difference_update(set2) bu set-lərdə eyni olan elementlər çıxarılır və set-lər birləşdirilib birinci (set1) set-ə mənimsədilir və None qaytarır. → set1.symmetric_difference_update(set2)

In [26]:
set1 = {1, 2, 3}
set2 = {2, 3, 4, 5}

set3 = set1.symmetric_difference_update(set2)

print(set3)

None

In [27]:
set1

{1, 4, 5}

In [28]:
set2

{2, 3, 4, 5}

### 13. issubset() → set2.issubset(set1) set2 set1-in alt çoxluğudursa True, deyilse False verir. Ya yeni bir dəyişənə yazılmalıdır, ya da print edilməlidir. → a = set2.issubset(set1)

In [31]:
set1 = {1, 2, 3}
set2 = {1,2}
set3 = {2, 3, 4, 5}

a = set2.issubset(set1)

print(a)

b = set3.issubset(set1)

print(b)

True
False

### 12. issuperset() → set1.issuperset(set2) set1 set2-in super çoxluğudursa True, deyilse False verir. Ya yeni bir dəyişənə yazılmalıdır, ya da print edilməlidir. → c = set1.issuperset(set2)

In [32]:
set1 = {1, 2, 3}
set2 = {1,2}

a = set1.issuperset(set2)

print(a)

b = set2.issuperset(set1)

print(b)

True
False

### 13. isdisjoint() → set1.isdisjoint(set2) set-lər kəsişirsə False, kəsişmirsə True verir. Ya yeni bir dəyişənə yazılmalıdır, ya da print edilməlidir. → j = set1.isdisjoint(set2)

In [35]:
set1 = {1, 2, 3}
set2 = {1,2}
set3 = {1, 10}
set4 = {5, 6}

a = set1.isdisjoint(set2)
print(a)

b = set1.isdisjoint(set3)
print(b)

c = set1.isdisjoint(set4)
print(c)

False
False
True

##   Dərs 5. Set. Set metodları.ev tapsiriqlari

### 1. Bir set dəyişəni götürün. Bu dəyişənə ardıcıl olaraq iki element əlavə edib çapa verin.

In [36]:
set1 = {4, 7, 9}

set1.add(5)
set1.add(6)

print(set1)


set1 = {4, 7, 9}

set1.update((5, 6))

print(set1)

{4, 5, 6, 7, 9}
{4, 5, 6, 7, 9}

###  2. İki set dəyişəni götürün. Onların birləşməsi ilə kəsişməsini çapa verin.

In [39]:
set1 = {'salam', 2, 3}

set2 = {'salam', -4, 49, "ok"}

set3 = set1.union(set2)

set4 = set1.intersection(set2)

print(set3)

print(set4)

{49, 2, 3, 'salam', -4, 'ok'}
{'salam'}

### 3. Bir set dəyişəni götürün. Bu dəyişəni başqa bir set dəyişəninə kopyalayın. Birinci seti təmizləyərək hər iki seti çapa verin.

In [51]:
set1 = {41, "Baki", -99, "Merakesh"}

set2 = set1.copy()

set1.clear()

print(set1)   

print(set2)

set()
{'Baki', 41, 'Merakesh', -99}

### 4. İki set dəyişəni götürün və onların birləşməsini, kəsişməsini, fərqini, simmetrik fərqini çapa verin.

In [53]:
set1 = {78, -67, 44, 55 ,66}
set2 = {-1, -2, -44, 44, 55, 78}

print(set1.union(set2))

print(set1.intersection(set2))

print(set1.difference(set2))

print(set1.symmetric_difference(set2))

{66, 44, 78, -44, -2, 55, -67, -1}
{44, 78, 55}
{66, -67}
{66, -44, -1, -2, -67}

### 5. İki set dəyişəni götürün. Birinci setin ikinci setin alt seti və super seti olub-olmadığını yoxlayın.

In [54]:
set1 = {0, -99, "Azerbaijan", "Iceri seher", 10, 99, 77}
set2 = {77, "Azerbaijan", 0}

alt_set = set1.issubset(set2)

super_set = set1.issuperset(set2)

print(alt_set)

print(super_set)

False
True

### 6. İki set dəyişəni götürün. Əvvəlcə bu setlərin kəsişməsi olub olmadığını yoxlayın. Sonra  kəsişməsini çapa verin.

In [55]:
set1 = {"55", 55, 89, "89", 12, 'armud meyvesi'}

set2 = {"alma", "armud meyvesi", 12, "89"}

print(set1.isdisjoint(set2))

print(set1.intersection(set2))

False
{'89', 'armud meyvesi', 12}

### 7. İki set dəyişəni götürün. Birinci setə ikinci seti əlavə edərək çapa verin.

In [57]:
set1 = {"Table", 9, 8, 7, 0}

set2 = {0, "w", 1, 2, 3, 8, 7}

set1.update(set2)


print(set1)

{0, 1, 2, 3, 7, 8, 9, 'w', 'Table'}

###  8. Bir set dəyişəni götürün. Əvvəlcə setdən bir element silin. Sonra setə başqa bir  element əlavə edərək çapa verin.

In [58]:
set1 = {"Elnur", "telefon", 23, -90, 89}

set1.discard(89)   # ve ya  set81.remove(89)


set1.add(99.99)

print(set1)

{99.99, 23, -90, 'Elnur', 'telefon'}

### 9. Üç set dəyişəni götürün. Birinci setdən bir element silin. İkinci setə bir element əlavə edin. Üçüncü setə bir neçə element əlavə edin. Birinci set ilə ikinci setin birləşməsini, birinci set ilə üçüncü setin kəsişməsini, birinci set ilə üçüncü setin fərqini çapa verin.

In [59]:
set1 = {"komputer", "Nou Camp", 89, 4, 3}
set2 = {4, "komputer", "Kim Cen In", 0, -23}
set3 = {12, 34, -900, 1000.5}

set1.discard(3)
set2.add("back end web dveloper")
set3.update(("tort", 4, 899.09,))


print(set1.union(set2))

print(set1.intersection(set3))

print(set1.difference(set3))

{'Nou Camp', 0, 4, 'back end web dveloper', -23, 'komputer', 89, 'Kim Cen In'}
{4}
{'Nou Camp', 89, 'komputer'}

### 10. Bir list dəyişəni götürün və bu listdəki eyni elementləri ataraq çapa verin.

In [61]:

list1 = [12, -12, 90, -12, "Don Ki Xot", 'Don Ki Xot']

list1 = list(set(list1))

print(list1)

['Don Ki Xot', 90, 12, -12]