## List Ümumi anlayış

In [22]:
list1 = [1, 2]

list1

[1, 2]

In [23]:
list1 = list((1,2))
list1

[1, 2]

In [24]:
list1[0]

1

In [25]:
list1 = [1, 2, 'salam', 4.5, True]
list1

[1, 2, 'salam', 4.5, True]

In [26]:
matrix = [[1, 2], [3, 4]]
matrix

[[1, 2], [3, 4]]

In [27]:
matrix[0][0]

1

In [61]:
text = "Salam"

list(text)

['S', 'a', 'l', 'a', 'm']

In [62]:
number = 555

list(555)

TypeError: 'int' object is not iterable

In [63]:
number = "555"

list(number)

['5', '5', '5']

In [65]:
a = [1,2,3]

b = [4,5,6]

list([a, b])

[[1, 2, 3], [4, 5, 6]]

## List üzərində əməllər

In [29]:
a = [1, 2, 3, 4, 5]
b = list((6, 7, 8, 9, 10))

a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [31]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [32]:
a/b

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [33]:
a*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [34]:
a/3

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [35]:
a = [1, 2, 3, 4, 5]

In [39]:
a[2:3] + a[3:5]

[3, 4, 5]

In [40]:
a[0:]

[1, 2, 3, 4, 5]

In [41]:
a[1:4]

[2, 3, 4]

In [42]:
a[::-1]

[5, 4, 3, 2, 1]

In [44]:
a[3:-5:-1]

[4, 3, 2]

In [45]:
len(a)

5

## List Functions

### 1. append() → listin axırına append()-ə yazdığımız qiyməti əlavə edir və None qaytarır → list1.append(4.5)

In [51]:
a = [45, -20, 13, 34, 50, -21]

print(a.append(4.5))

None

In [52]:
a

[45, -20, 13, 34, 50, -21, 4.5]

In [84]:
b = [1,2,3, "C"]
c = [4,5,6, "B"]

b.append(c)

In [86]:
b

[1, 2, 3, 'C', [4, 5, 6, 'B']]

In [87]:
c

[4, 5, 6, 'B']

### 2. remove() → listdən remove()-a yazdığımız qiyməti silirik və None qaytarır → list1.remove(4)

In [67]:
a = [45, -20, 13, 34, 50, -21]

a.remove(4)

ValueError: list.remove(x): x not in list

In [68]:
a.remove(-20)
a

[45, 13, 34, 50, -21]

### 3. insert() → listin neçənci element sırasına qiymət daxil etmək üçün birinci indeksi, sonra qiyməti yazırıq və None qaytarır → list1.insert(5, "salam")

In [69]:
a

[45, 13, 34, 50, -21]

In [70]:
a.insert(1, -20)
a

[45, -20, 13, 34, 50, -21]

In [71]:
a.insert(3, "Salam")
a

[45, -20, 13, 'Salam', 34, 50, -21]

### 4. pop() → default vəziyyətdə pop() listin axırıncı elementini index-ə əsasən silir və onun qiymətini qaytarır → list1.pop() → list1.pop(3)

In [76]:
a

[45, -20, 13, 'Salam', 34, 50, -21]

In [77]:
a.pop()

a

[45, -20, 13, 'Salam', 34, 50]

In [78]:
a.pop(2)

13

In [79]:
a

[45, -20, 'Salam', 34, 50]

### 5. extend() → extend()-ə daxil etdiyimiz iterable tipli dəyişəni string kimi parçalayaraq listin axırına ayrı-ayrı elementlər kimi əlavə edir və None qaytarır → list1.extend("53")

In [80]:
a

[45, -20, 'Salam', 34, 50]

In [81]:
a.extend("salam")

In [82]:
a

[45, -20, 'Salam', 34, 50, 's', 'a', 'l', 'a', 'm']

In [1]:
car = ["Pirius", 'Prado', "Nissan"]

speed = [180, 200, 240]

In [2]:
car.extend(speed)

In [3]:
car

['Pirius', 'Prado', 'Nissan', 180, 200, 240]

In [4]:
speed

[180, 200, 240]

In [5]:
car = ["Pirius", 'Prado', "Nissan"]
car_next = ["Mercedes", "Mitsubishi"]

car.extend(car_next)

car

['Pirius', 'Prado', 'Nissan', 'Mercedes', 'Mitsubishi']

### 6. count() → count()-a daxil etdiyimiz dəyərin baş vermə sayını qaytarır və listə heç bir dəyişiklik etmir → k = list1.count(50)

In [8]:
a = [45, -20, 50, 13, 50, 34, 50, -21]

a.count(50)

3

In [9]:
a

[45, -20, 50, 13, 50, 34, 50, -21]

### 7.  index() → index()-ə daxil etdiyimiz dəyərin indeksini qaytarır və listə heç bir dəyişiklik etmir → k = list1.index(-21)

In [10]:
a = [45, -20, 50, 13, 50, 34, 50, -21]

k = a.index(-21)
k

7

In [11]:
a

[45, -20, 50, 13, 50, 34, 50, -21]

In [14]:
a = [45, -20, "BMV"]

In [17]:
a.index("BMV")

2

In [20]:
a = [45, -20, 50, 13, 50, 34, 50, -21]

a.index(50, 3)

4

### 8. reverse() → reverse() listi tərsinə çevirir və None qaytarır → list1.reverse()

In [40]:
a = [45, -20, 13, 34, 50, -21]

a.reverse()

In [41]:
a

[-21, 50, 34, 13, -20, 45]

In [42]:
a[0:3].reverse()    # bele bir sey niye alinmir?

In [43]:
a[0:3]

[-21, 50, 34]

In [44]:
a

[-21, 50, 34, 13, -20, 45]

In [46]:
b = a[0:3]
b.reverse()
b

[34, 50, -21]

### 9. sort() → sort() listi azdan çoxa, sort(reverse=True) isə çoxdan aza sıralayır və None qaytarır → list1.sort() → list1.sort(reverse=True)

In [48]:
a = [45, -20, 13, 34, 50, -21]

a.sort()

In [49]:
a

[-21, -20, 13, 34, 45, 50]

In [52]:
a = [45, -20, "Table", 13, "Nissan",  34, 50, -21]

a.sort()

a

TypeError: '<' not supported between instances of 'str' and 'int'

In [54]:
a = ["Table", "Nissan", "Tab"]

a.sort()

a

['Nissan', 'Tab', 'Table']

In [55]:
a = ["B", "A", "Z"]

a.sort()

a

['A', 'B', 'Z']

In [56]:
a = [45, -20, 13, 34, 50, -21]

a.sort(reverse=True)

a

[50, 45, 34, 13, -20, -21]

In [57]:
a = ["Table", "Nissan", "Tab"]

a.sort(reverse=True)

a

['Table', 'Tab', 'Nissan']

In [58]:
a = ["B", "A", "Z"]

a.sort(reverse=True)

a

['Z', 'B', 'A']

In [70]:
list3 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
list3.sort(key=lambda x: x[0])
list3

[('English', 88), ('Maths', 97), ('Science', 90), ('Social sciences', 82)]

In [71]:
list3 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
list3.sort(key=lambda x: x[1])
list3

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [73]:
list4 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'},
{'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
list4.sort(key=lambda x: x["color"])

list4

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [89]:
list5 = [-2, 0, 1, -1, 2]
list5.sort(key=lambda i: 0 if i == 0 else -1 / i)

print(list5)

[1, 2, 0, -2, -1]



### Qısa izah:

* **Əgər element `0`-dırsa**, `key` olaraq `0` təyin olunur.
* **Əks halda**, `key = -1 / i` olur.

### Məqsəd:

Bu sıralama **0-ları ortada** saxlamaq və qalan ədədləri isə xüsusi qaydada yerləşdirmək üçündür:

* **Müsbət ədədlər**: `-1 / i` mənfi olur → daha **aşağı key**, yəni **sonda** yerləşəcək.
* **Mənfi ədədlər**: `-1 / i` müsbət olur → daha **yuxarı key**, yəni **əvvəldə** yerləşəcək.
* **0-lar**: `key = 0`, yəni **ortada** yerləşir.


### Yəni:

* Mənfi ədədlər əvvəl
* 0 ortada
* Müsbət ədədlər sonra

Bu, **"simmetrik sıralama"** üçün istifadə olunan ağıllı bir hiylədir.

In [90]:
list6 = ['apple', 'kiwi', 'banana', 'fig']
list6.sort(key=lambda x: len(x))
print(list6)

['fig', 'kiwi', 'apple', 'banana']

### İzah:

* `'fig'` → 3 hərf
* `'kiwi'` → 4 hərf
* `'apple'` → 5 hərf
* `'banana'` → 6 hərf

Yəni siyahı **ən qısa sözlərdən uzuna doğru** sıralanır.

In [91]:
list6.sort(reverse=True, key=lambda x: len(x))

list6

['banana', 'apple', 'kiwi', 'fig']

### 10. clear() → clear() listin elementlərini tamamilə silir və None qaytarır → list1.clear()

In [92]:
a= [45, -20, 13, 34, 50, -21]

a.clear()     

a

[]

In [98]:
a= [45, -20, 13, 34, 50, -21]

b = a[0:6]

b.clear()

b

[]

In [100]:
a

[45, -20, 13, 34, 50, -21]

### del

In [112]:
a= [45, -20, 13, 34, 50, -21]

del a[:3]

a

[34, 50, -21]

### reversed

In [114]:
a= [45, -20, 13, 34, 50, -21]


list(reversed(a))

[-21, 50, 34, 13, -20, 45]

### 11. copy() → copy() listin nüsxəsini yaradır və yeni bir dəyişənə yazılmalıdır → list2 = list1.copy()

In [130]:
a = [45, -20, 13, 13, 34, 50, -21]

a.copy()

[45, -20, 13, 13, 34, 50, -21]

In [131]:
b = a.copy()
b

[45, -20, 13, 13, 34, 50, -21]

In [132]:
b.pop()
b

[45, -20, 13, 13, 34, 50]

In [133]:
a

[45, -20, 13, 13, 34, 50, -21]

In [143]:
a = [45, -20, 13, 13, 34, 50, -21]

b = a

b

[45, -20, 13, 13, 34, 50, -21]

In [144]:
b.pop()
b

[45, -20, 13, 13, 34, 50]

In [145]:
a

[45, -20, 13, 13, 34, 50]

### listin elementini dəyişmək üçün

In [146]:
a = [45, -20, 13, 13, 34, 50, -21, "SALAM", 'Azerbaijan']

a[0]

45

In [147]:
a[7]

'SALAM'

In [148]:
a[7] = "Baku"

a

[45, -20, 13, 13, 34, 50, -21, 'Baku', 'Azerbaijan']

### Tuple

In [153]:
a = (2, 1, 0, 4, 0, -5)
a

(2, 1, 0, 4, 0, -5)

Python-da **list** və **tuple** arasındakı əsas fərqlər qısaca belədir:

| Xüsusiyyət       | `list`                  | `tuple`                 |
| ---------------- | ----------------------- | ----------------------- |
| **Dəyişkənlik**  | Dəyişə bilir (mutable)  | Dəyişməzdir (immutable) |
| **Söz yığımı**   | `[]` mötərizədə yazılır | `()` mötərizədə yazılır |
| **Sürət**        | Daha yavaşdır           | Daha sürətlidir         |
| **Əməliyyatlar** | Əlavə, silmə mümkündür  | Əlavə, silmə olmaz      |

### Nümunə:

```python
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

my_list[0] = 10   # OK
# my_tuple[0] = 10  # Xəta verir (TypeError)
```

> Yəni: **dəyişəcək məlumatlar üçün `list`**, **dəyişməyəcək sabit məlumatlar üçün `tuple`** istifadə olunur.

In [154]:
a = (2, 1, 0, 4, 0, -5)
a[0]

2

In [155]:
a[0] = 5

TypeError: 'tuple' object does not support item assignment

In [156]:
a.count(0)

2

In [157]:
a.index(0)

2

In [158]:
a.index(0, 3)

4

In [159]:
a = (2, 1, 0, 4, 0, -5)

a = list(a)

a

[2, 1, 0, 4, 0, -5]

In [160]:
a[0] = 5
a

[5, 1, 0, 4, 0, -5]

In [161]:
a = tuple(a)

a

(5, 1, 0, 4, 0, -5)

 ### Ev tapşırıqları  Dərs 4. List/Tuple.

### 1. İki list dəyişəni götürün. Birinci listin ilk iki elementi ilə ikinci listin son üç elementinin cəmini tapın. Alınan listi tərs sıra ilə çapa verin.

In [166]:

a = [2, 5, 9, 11, 4]

b = [23, 41, 20, 14 , -1]

c= a[0:2] + b[-3:]

c.reverse()

print(c)

[-1, 14, 20, 5, 2]

In [167]:
sum(a[0:2]) + sum( b[-3:])

40

### 2. İki list dəyişəni götürün və onları nizamlayın (sort). Alınmış listlərin cəmini çapa verin.

In [168]:
a = [-3, 21, 44, 55, 23, 0 , -39,] 

b = [7, -34, 6, 99]

a.sort()

b.sort()

print(a + b)

[-39, -3, 0, 21, 23, 44, 55, -34, 6, 7, 99]

### 3. Bir list dəyişəni götürün və həmin listə “Python” sözünün hər bir simvolunu əlavə edib çapa verin.

In [169]:

a = [" ", 4, 67, -1, "qubernator", 4]

a.extend("Python")

print(a)

[' ', 4, 67, -1, 'qubernator', 4, 'P', 'y', 't', 'h', 'o', 'n']

### 4. İki list dəyişəni götürün. Birinci listi tərs sıra ilə nizamlayıb, ikinci listin son 3 elementi  ilə toplayın. Alınan listi tərs sıra ilə nizamlayıb çapa verin.

In [170]:

a = [32, 67, 0, 1 ,3 ,2]

b = [-3, 45, 7, 9 ,6]

a.sort(reverse=True)

c = a + b[-4:-1]

c.sort(reverse=True)

print(c)

[67, 45, 32, 9, 7, 3, 2, 1, 0]

### 5. İki list dəyişəni götürün və birinci listdə ikinci listin ilk elementinin sayını tapın.

In [171]:

a = [3, 78, 44, 23, 44, 56]

b = [44, 22, 33, "salam"]

print(a.count(b[0]))

2

### 6. Üç list dəyişəni götürün. “a” simvolunu birinci listin 0-cı, ikinci listin sonuncu, üçüncü listin 5-ci indeksinə əlavə edin.

In [176]:

a = [3, "m", "l", "3", 9]

b = [89, 101, 100, 0, -90]

c = ["klon", 'Z', 4, 8, -4, 23, 55, 66]


a.insert(0, "a")
b.append('a')
c.insert(5, "a")

print(a)
print(b)
print(c)

['a', 3, 'm', 'l', '3', 9]
[89, 101, 100, 0, -90, 'a']
['klon', 'Z', 4, 8, -4, 'a', 23, 55, 66]

### 7. Bir list dəyişəni götürün və bu listi başqa bir dəyişənə kopyalayın və bu listlərin cəminin tərsini yeni bir dəyişənə yazın. Alınmış listin elementlərini 1 element ötürərək çapa verin.

In [178]:
a = [-89, 38, 1001, 1987, 31, 3]

b = a.copy()

c = a + b

c.reverse()

print(c[0::2])

[3, 1987, 38, 3, 1987, 38]

### 8. İki list dəyişəni götürün. Birinci listin ilk elementini, ikinci listin son elementini silin. Birinci listi tərs sıra ilə, ikinci listi düz sıra ilə nizamlayıb çapa verin.

In [179]:
a = [5, 14, -2, -1, 44, 0, 89, 1001, 99]

b = [202, 100, 67, 89, 34, 35, 89, 2]

a.remove(5)    # ve ya list81.pop(0)

b.remove(2)     # ve yalist82.pop(-1)


a.sort(reverse=True)

print(a)


b.sort()

print(b)

[1001, 99, 89, 44, 14, 0, -1, -2]
[34, 35, 67, 89, 89, 100, 202]

### 9. Bir tuple dəyişəni götürün. Bu dəyişənin sonuna yeni bir element əlavə edərək çapa verin.

In [181]:
a = (5, 56, 76, "salam")

a = list(a)

a.append("gelincik")   # veya   list91.insert(4, "gelincik")

print(a)

[5, 56, 76, 'salam', 'gelincik']

### 10. İki tuple dəyişəni götürün. Onların cəmini yeni bir dəyişənə yazın. Alınmış yeni  dəyişənin uzunluğunu çapa verin.

In [183]:
a = (-999, 888, "Idark", "motor")

b = ("seher", 4, 5)

c = a + b

print(len(c))

7