## Input/Output

In [3]:
a = input()

b = input()

c = input()

1
2
3

In [5]:
print(a + b +c)

123

In [6]:
a = input()
b = input()
c = input()

print(a, b, c)

1
2
3
1 2 3

In [1]:
a = input()
a

1

'1'

In [2]:
type(a)

str

In [6]:
a = input("Daxil et: ")
a

Daxil et: Salam

'Salam'

In [9]:
a = int(input("Rəqəm daxil et:"))
a

Rəqəm daxil et:2

2

In [10]:
a = int(input("Rəqəm daxil et:"))
a

Rəqəm daxil et:salam

ValueError: invalid literal for int() with base 10: 'salam'

### print() → Konsola (terminala) qiymet capa vermek ucun istifade edilir

- print() funksiyasinda stringler 3 formada formatlanir:

In [12]:
print("Adil")

Adil

### 1. format() funksiyasindan istifade ederek:

In [18]:
a = "Adil"
b = "Aliyev"

In [19]:
print(a, b,  "nece yasi var")

Adil Aliyev nece yasi var

In [22]:
print("{} {}in  nece yasi var". format(a, b))

Adil Aliyevin  nece yasi var

In [23]:
print("{0} {1}in  nece yasi var". format(a, b))

Adil Aliyevin  nece yasi var

In [24]:
print("{1} {0}in  nece yasi var". format(a, b))

Aliyev Adilin  nece yasi var

### 2. % simvolundan istifade ederek:

In [27]:
ad = "Adil"
soyad = "Aliyev"

In [29]:
print("%s %sin nece yasi var?" % (ad, soyad))

Adil Aliyevin nece yasi var?

In [31]:
a = 2
b = 3

In [40]:
print("%d və %d  rəqəmlərdir" % (a, b))

2 və 3  rəqəmlərdir

In [41]:
a = 2
b = 3

In [42]:
print("%f %f" % (a, b))

2.000000 3.000000

In [44]:
a = 2.5
b = 3.2

print("%f %f kəsr ədədlərdir" % (a, b))

2.500000 3.200000 kəsr ədədlərdir

### 3.  f simvolundan istifade ederek:

In [45]:
ad = "Idrak"

soyad = "Seyfullayev"

yas = "35"

In [47]:
print(f"{ad} {soyad}in {yas} yaşı var")

Idrak Seyfullayevin 35 yaşı var

In [55]:
a = 5
b = 3

print(a, b)

5 3

In [57]:
print(a, b, sep=",")

5,3

In [61]:
print(a, b, end=",")

5 3,

In [65]:
a = [1,2,3,4,5]

for i in a:
    print(i)

1
2
3
4
5

In [66]:
a = [1,2,3,4,5]

for i in a:
    print(i, end=",")

1,2,3,4,5,

In [71]:
a = [1,2,3,4,5]

for i in a:
    print(i, end="\n")

1
2
3
4
5

### Ev tapşırıqları  Dərs 3. Input/Output.

### 1. Konsoldan (terminaldan) 2 str tipli dəyişən daxil edin. Bu dəyişənlərin ilk simvolunu böyük hərflə format() funksiyasından istifadə edərək arasında boşluq qoyaraq çapa verin.

In [75]:
# a = input()

# b = input()

a, b = input().split()

print("{} {}".format(a.capitalize(), b.capitalize()))

salam Baku
Salam Baku

###  2. Konsoldan 3 str tipli dəyişən daxil edin. Bu dəyişənləri format() funksiyasından istifadə edərək tərs sıra ilə böyük hərflərlə çapa verin.

In [82]:
# a= input()

# b= input()

# c= input()

a, b , c = input().split()

print("{2}{1}{0}".format(a.capitalize(), b.capitalize(), c.capitalize()))

salam Baku Gence
GenceBakuSalam

### 3. Konsolda yanaşı 2 qiymət daxil edin və bu qiymətləri int tipinə çevirərək cəmini, fərqini, hasilini, nisbətini, tam nisbətini aşağıdakı kimi çapa verin:
- Meselen, daxil edilsin: 5 3
- Çapa verilsin:
- Cem : 5 + 3 = 8
- Ferq : 5 – 3 = 2
- Hasil : 5 * 3 = 15
- Nisbet : 5 / 3 = 1.777
- Tam nisbet : 5 // 3 = 1

In [83]:

a, b = input().split()

a, b = int(a), int(b)


print((f"{a} + {b} = {a+b}"))  

print((f"{a} - {b} ="), (a-b))  

print((f"{a} * {b} ="), (a*b))  

print((f"{a} / {b} ="), (a/b))  

print((f"{a} // {b} ="), (a//b))

2 3
2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
2 / 3 = 0.6666666666666666
2 // 3 = 0

### 4. Konsoldan 1 str tipli qiymət daxil edin və % simvolundan istifadə edərək bu dəyişəni böyük hərflərlə, kiçik hərflərlə çapa verin.

In [84]:


a = input()



print("%s" % (a.swapcase()))

Salam
sALAM

### 5. Konsolda 2 str tipli qiymət daxil edin və % simvolundan istifadə edərək 1-ci dəyişənin ilk iki, 2-ci dəyişənin son 2 simvolunu və bu simvolları birləşdirərərək çapa verin.

In [86]:

a = input()

b = input()

a, b = input().split()

print("%s%s" % (a[0:2], b[-2:]))

salam
baku
salam baku
saku

### 6. Konsoldan 1 str tipli qiymət daxil edin və f simvolundan istifadə edərək bu dəyişəni boşluq simvoluna görə parçalayaraq çapa verin.

In [90]:

a = input().split()

print(f"{a}")

salam baku
['salam', 'baku']

### 7. Konsoldan kitabın adı, müəllifin adı və kitabın səhifə sayını daxil edin və onları f simvolundan
- istifadə edərək aşağıdakı kimi çapa verin:
- Daxil edilsin:
- Oyunbaz
- Vulf Dorn
- 452
- Çap edilsin:
- Mağazada Vulf Dornun 452 səhifəlik Oyunbaz kitabı mövcuddur.

In [91]:
kitabin_adi7= input()

muellifin_adi7= input()

kitabin_sehife_sayi= int(input())
print(f"Magazada {muellifin_adi7}un {kitabin_sehife_sayi} sehifelik {kitabin_adi7} kitabi movcuddur.")

Oyunbaz
Vulf Dorn
452
Magazada Vulf Dornun 452 sehifelik Oyunbaz kitabi movcuddur.

### 8. Konsoldan yanaşı 3 str tipli dəyişən daxil edin və onları hər 3 formatlama üsulundan istifadə
- edərək aşağıdakı kimi daxil edin:
- Daxil edilsin:
- Bakı Sumqayıt Gəncə
- Çap edilsin:
- Bakı, Sumqayıt, Gəncə Azərbaycanın ən böyük şəhərləridir.

In [94]:
a, b, c = input().split()


print("{}, {}, {} Azerbaycanin en boyuk seherleridir.".format(a, b, c))


print("%s, %s, %s Azerbaycanin en boyuk seherleridir." % (a, b, c))


print(f"{a}, {b}, {c} Azerbaycanin en boyuk seherleridir.")

Baki Sumqayit Gence
Baki, Sumqayit, Gence Azerbaycanin en boyuk seherleridir.
Baki, Sumqayit, Gence Azerbaycanin en boyuk seherleridir.
Baki, Sumqayit, Gence Azerbaycanin en boyuk seherleridir.

### 9. Konsoldan yanaşı 3 int tipli dəyişən daxil edin və end parametrindən istifadə edərək onları yanaşı çapa verin.

In [96]:
a, b, c = input().split()

a, b, c = int(a), int(b), int(c)

print(a, end=" ")                             # /n    ne idi?????

print(b, end=" ")

print(c)

1 2 3
1 2 3

### 10. Konsoldan yanaşı 3 float tipli dəyişən daxil edin və sep parametrindən istifadə edərək onları  vergüllə ayıraraq çapa verin.

In [98]:
a, b, c = input().split()

a, b, c = float(a), float(b), float(c)

print(a, b, c, sep=",")

1 2 3
1.0,2.0,3.0