##     Functions

In [9]:
def topla(a, b):
    c = a + b
    return c

In [10]:
a = 5
b = 10

print(topla(a, b))

15

In [11]:
number1 = 5
number2 = 10

topla(number1, number2)

15

In [12]:
a = 5
b = 10

def topla(a,b):
    a += 1
    c = a + b
    print(c)

x = topla(a, b)    

x

16

In [13]:
a = 5
b = 10

def topla(a,b):
    a += 1
    c = a + b
    print(c)

x = topla(a, b)    

print(x)

16
None

In [20]:
def topla(a,b):
    a += 1
    c = a + b
    return a, b, c

a = 5
b = 10

x = topla(a, b)
print(x)

(6, 10, 16)

In [21]:
def topla(a,b):
    a += 1
    c = a + b
    return f"{a}, {b}, {c}"

a = 5
b = 10

x = topla(a, b)
print(x)

6, 10, 16

In [25]:
def func(a, b, c, d):
    list1 = [a, b, c, d]
    for i in list1:
        if i < 5:
            print(i**2)
        else:
            print(i**3)

number1 = 2
number2 = 4
number3 = 6
number4 = 7

func(number1, number2, number3, number4)

4
16
216
343

In [26]:
number1 = 1
number2 = 2
number3 = 3
number4 = 6

func(number1, number2, number3, number4)

1
4
9
216

In [27]:
def reverse_(a):
    return a[::-1]

In [31]:
text = 'Baku'

reverse_(text)

'ukaB'

In [32]:
text = 'Ganca'

reverse_(text)

'acnaG'

In [39]:
def bolunen_2_e(x, y):
    for i in range(x, y+1):
        if not i % 2:
            print(i, end=", ")

In [40]:
first = 1
last = 20

bolunen_2_e(first, last)

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [46]:
def bolunen_2_e(x, y):
    for i in range(x, y+1):
        if not i % 2:
            return i
        
first = 1
last = 20

bolunen_2_e(first, last)

2

In [51]:
def func(a):
    for i in range(a):
        print(i, end=", ")

func(10)

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [52]:
def func(a):
    for i in range(a):
        return i
    
func(10)

0

In [54]:
def func(a):
    list1 = []
    
    for i in range(a):
        list1.append(i)
        
    return list1    
    
func(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
list1 = []

def func(a):
    
    for i in range(a):
        list1.append(i)
        
    return list1
    
func(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
def func(a):
    
    for i in range(a):
        list1.append(i)
        
    return list1

list1 = []
    
func(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
def func(x):
    
    text = ""
    
    for i in x:
        text += i
        
    return text


list1 = ["B", "a", "k", "u"]

func(list1)

'Baku'

### Positional (required‚Üí optional) ‚Üí Non-positional(args ‚Üí kwargs) sƒ±rasƒ± il…ô yazƒ±lmalƒ±dƒ±r.**

### 1. Positional (m√∂vqeli) parametrl…ôr

#### required ‚Üí (m√ºtl…ôq √∂t√ºr√ºlm…ôlidir)

In [70]:
def topla(a, b):
    return a + b

topla(3, 4)

7

#### optional ‚Üí (default d…ôy…ôr var, √∂t√ºr√ºlm…ôs…ô d…ô olar)

In [71]:
def topla(a, b=0):
    return a + b

print(topla(5))

5

In [72]:
def topla(a, b=0):
    return a + b

topla(5, 2)

7

### 2. Non-positional (m√∂vqesiz) parametrl…ôr

#### args ‚Üí (sonsuz sayda m√∂vqeli parametr q…ôbul edir)

In [78]:
def topla(*args):
    return sum(args)

topla(1, 2, 3, 4)

10

In [86]:
def topla(*args):
    for i in args:
        print(i, end=", ")

topla(1, 2, 3, 4)

1, 2, 3, 4,

In [87]:
def topla(*args):
    return(args)

topla(1, 2, 3, 4)

(1, 2, 3, 4)

In [88]:
def topla(*args):
    return sum(args)

topla([1, 2, 3, 4])

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [89]:
def topla(*args):
    return sum(args)

topla(*[1, 2, 3, 4])

10

In [90]:
print(*[1,2,3,4,5])

1 2 3 4 5

#### kwargs ‚Üí (sonsuz sayda a√ßar=qiym…ôt c√ºt√º q…ôbul edir)

In [92]:
def goster(**kwargs):
    for k, v in kwargs.items():
        print(k, ":", v)

goster(ad="Ali", yas=25)

ad : Ali
yas : 25

### 4 n√∂v bir n√ºmun…ôd…ô

In [93]:
def func(a, b=0, *args, **kwargs):
    print("a:", a)                 # required
    print("b:", b)                 # optional
    print("args:", args)          # *args
    print("kwargs:", kwargs)      # **kwargs


func(10, 20, 30, 40, ad="Aysel", yas=22)

a: 10
b: 20
args: (30, 40)
kwargs: {'ad': 'Aysel', 'yas': 22}

## * v…ô ** n…ôdir?

### üîπ `*` ‚Üí Tuple (m√∂vqeli arqumentl…ôri **toplayƒ±r** v…ô ya **a√ßƒ±r**)

### 1. \*Pack ‚Üí arqumentl…ôri **tuple** kimi toplamaq:

In [103]:
def topla(*args):
    print(args)

topla(1, 2, 3)

(1, 2, 3)

### 2. \*Unpack ‚Üí m√∂vcud list/tuple-u **ayrƒ±lƒ±qda g√∂nd…ôrm…ôk**:

In [105]:
def topla(*args):
    print(args)

ededler = [1, 2, 3]
topla(*ededler)

(1, 2, 3)

In [108]:
ededler = [1, 2, 3]

print(*ededler, end=", ")

1 2 3,

### üîπ `**` ‚Üí Dict (a√ßar=qiym…ôt c√ºtl…ôrini **toplayƒ±r** v…ô ya **a√ßƒ±r**)

### 1. \*\*Pack ‚Üí a√ßar=qiym…ôt c√ºtl…ôrini **dict** kimi toplamaq:

In [109]:
def info(**kwargs):
    print(kwargs)

info(ad="Ayan", yas=23)

{'ad': 'Ayan', 'yas': 23}

### 2. \*\*Unpack ‚Üí m√∂vcud dictionary-ni **a√ßar=qiym…ôt** kimi √∂t√ºrm…ôk:

In [113]:
def info(**kwargs):
    print(kwargs)

melumat = {"ad": "Ayan", "yas": 23}
info(**melumat)

{'ad': 'Ayan', 'yas': 23}

In [119]:
melumat = {"ad": "Ayan", "yas": 23}

print(**melumat)  #  s…ôhv yoldur√ß, he√ß vaxt i≈ül…ôm…ôz

TypeError: 'ad' is an invalid keyword argument for print()

### ∆èlav…ôl…ôr n√ºmn…ôl…ôr

In [121]:
def kvadrat_tenlik(a, b, c):
    D = b**2 - 4*a*c

    if D > 0:
        x1 = (-b + D**0.5) / (2*a)
        x2 = (-b - D**0.5) / (2*a)
        return x1, x2
    elif D ==0:
        x = (-b) / (2*a) 
        return x  
    else:
        return "Helli yocdur"

a = 1
b = 10
c = 2    
print(kvadrat_tenlik(a, b, c))

(-0.2041684766872809, -9.79583152331272)

In [125]:
def kvadrat_tenlik(c, a=1, b=12):
    D = b**2 - 4*a*c

    if D > 0:
        x1 = (-b + D**0.5) / (2*a)
        x2 = (-b - D**0.5) / (2*a)
        return x1, x2
    elif D ==0:
        x = (-b) / (2*a) 
        return x  
    else:
        return "Helli yoxdur"

c = 10    
kvadrat_tenlik(c)

(-0.9009804864072155, -11.099019513592784)

In [127]:
def topla(*args):
    a = 0
    for i in args:
        a += i
    return(a)  
       
topla(3, 5, 8, 9)

25

In [128]:
def topla(*args):
    a = 0
    for i in args:
        a += i
        return(a)  # burda niye 3 cap olundu
       
topla(3, 5, 8, 9)

3

In [135]:
def topla(*args):
    a = 0
    for i in args:
        a += i
        print(a)
        
       
topla(3, 5, 8, 9)

3
8
16
25

In [137]:
def topla(*args):
    a = 0
    for i in args:
        a += i
    print(a)
       
topla(3, 5, 8, 9)

25

In [138]:
def topla(**kwargs):
    a = 0
    for i in kwargs:
        a += kwargs[i] 
    return a    

topla(a=3, b=5, c=8)

16

In [139]:
def topla(**kwargs):
    a = 0
    for i in kwargs:
        a += kwargs[i] 
        return a    

topla(a=3, b=5, c=8,)

3

In [140]:
def topla(**kwargs):
    a = 0
    for i in kwargs:
        a += kwargs[i] 
        print(a)   

topla(a=3, b=5, c=8,)

3
8
16

In [141]:
def topla(**kwargs):
    a = 0
    for i in kwargs:
        a += kwargs[i] 
    print(a)   

print(topla(a=3, b=5, c=8,))

16
None

## w3resource. Python Exercises, Practice, Solution. List of Python Exercises : 

### Python functions 21 exercises with solution


### 1. Write a Python function to find the Max of three numbers.
### 1. √ú√ß …ôd…ôdin Max tapmaq √º√ß√ºn Python funksiyasƒ±nƒ± yazƒ±n.

In [7]:
def Max_of_three_numbers(n1, n2, n3):
    if n1 >= n2 and n1 >= n3:
        return f"The Max of these numbers i {n1}"
    elif n2 >= n1 and n2 >= n3:
        return f"The Max of these numers is {n2}"
    else:
        return f"The Max of these numbers i {n3}"

num1 = 1
num2 = 5
num3 = -2
print(Max_of_three_numbers(num1, num2, num3))

The Max of these numers is 5

### 2. Write a Python function to sum all the numbers in a list. 
- Sample List : (8, 2, 3, 0, 7)
- Expected Output : 20

### 2. Siyahƒ±dakƒ± b√ºt√ºn …ôd…ôdl…ôri c…ôml…ôm…ôk √º√ß√ºn Python funksiyasƒ±nƒ± yazƒ±n.
- N√ºmun…ô Siyahƒ±sƒ±: (8, 2, 3, 0, 7)
- G√∂zl…ônil…ôn n…ôtic…ô: 20

In [14]:
def sum_of_list(*args):
    x = 0
    for i in args:
        x += i
    return x    

print(sum_of_list(8,2,3,0,7))

#################################

def sum_of_list(*args):
    return sum(args)

print(sum_of_list(8, 2, 3, 0, 7))

#################################

def sum_(numbers):
    total = 0
    for i in numbers:
        total += i
    return total

list1 = [8, 2, 3, 0, 7]
print(sum_(list1))

20
20
20

### 3. Write a Python function to multiply all the numbers in a list.
- Sample List : (8, 2, 3, -1, 7)
- Expected Output : -336

### 3. Siyahƒ±dakƒ± b√ºt√ºn …ôd…ôdl…ôri √ßoxaltmaq √º√ß√ºn Python funksiyasƒ±nƒ± yazƒ±n.
- N√ºmun…ô Siyahƒ±sƒ±: (8, 2, 3, -1, 7)
- G√∂zl…ônil…ôn N…ôtic…ô: -336

In [2]:
def multiply_all_the_numbers(*args):
    x = 1
    for i in args:
        x *= i
    return x

print(multiply_all_the_numbers(8, 2, 3, -1 ,7))



def mutiply(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total

print(mutiply((8, 2, 3, -1,7)))

-336
-336

#### 4. Write a Python program to reverse a string. Go to the editor
- Sample String : "1234abcd"
- Expected Output : "dcba4321"

#### 4. S…ôtri t…ôrsin…ô √ßevirm…ôk √º√ß√ºn Python proqramƒ± yazƒ±n. Redaktora gedin
- N√ºmun…ô s…ôtri: "1234abcd"
- G√∂zl…ônil…ôn N…ôtic…ô: "dcba4321"

In [4]:
def to_reverse_a_string(string):
    return f"Reverse of the {string} is {string[::-1]}"

word = "1234abcd"
print(to_reverse_a_string(word))



def to_reverse_a_string(string):
    return string[::-1]

word = "1234abcd"
print(f"Reverse of the {word} is {to_reverse_a_string(word)}")



def to_reverse_a_string(string):
    return string[::-1]

word = "1234abcd"
print(f"Reverse of the {word} is {to_reverse_a_string(string=word)}")


def to_reverse_a_string(string):
    str1 = ""
    for i in range(len(string)):
        str1 += string[len(string)-1-i]
    return str1

word = "1234abcd"
print(to_reverse_a_string(word))



def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('1234abcd'))

Reverse of the 1234abcd is dcba4321
Reverse of the 1234abcd is dcba4321
Reverse of the 1234abcd is dcba4321
dcba4321
dcba4321

### 5. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts
-  the number as an argument. Go to the editor

### 5. ∆èd…ôdin (m…ônfi olmayan tam …ôd…ôd) faktorialƒ±nƒ± hesablamaq √º√ß√ºn Python funksiyasƒ±nƒ± yazƒ±n. Funksiya r…ôq…ômi 
- arqument kimi q…ôbul edir. Redaktora gedin

In [10]:
def  the_factorial_of_a_number(n):
    x1 = 1
    for i in range(1, n+1):
        x1 *= i
    return x1

num = 10
print(f"The factorial of {num} is {the_factorial_of_a_number(num)}")

The factorial of 10 is 3628800

### Recursive function (Rekursiv funksiya)

In [15]:

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
n = 10

factorial(n)

3628800

### ∆èn sad…ô v…ô qƒ±sa rekursiv funksiya n√ºmun…ôsi budur:

In [16]:
def countdown(n):
    if n == 0:
        return
    print(n)
    countdown(n - 1)
    
countdown(5)

5
4
3
2
1

### 6. Write a Python function to check whether a number falls in a given range. Go to the editor

### 6. ∆èd…ôdin verilmi≈ü diapazona d√º≈üd√ºy√ºn√º yoxlamaq √º√ß√ºn Python funksiyasƒ±nƒ± yazƒ±n. Redaktora gedin

In [17]:


def check_number_given_range(n, x, y):
    for i in range(x, y+1):
        if n == i:
            return f"{n} is in range{x,y}"    
    else:
        return f"{n} isn't in range({x}, {y})"

num = 36
beginning_interval = 1
end_of_interval = 50
print(check_number_given_range(num, beginning_interval, end_of_interval))



def check_number_given_range(n, x, y):
    if n in range(x, y):                    
        print(f"{n} is in range({x}, {y})")
    else:
        print(f"{n} isn't in range({x}, {y})")    

num = 34
x = 35
y = 100
check_number_given_range(num, x, y)

36 is in range(1, 50)
34 isn't in range(35, 100)

### 7. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. 
- Sample String : 'The quick Brow Fox'
- Expected Output :
- No. of Upper case characters : 3
- No. of Lower case Characters : 12


### 7. Simli q…ôbul ed…ôn Python funksiyasƒ±nƒ± yazƒ±n v…ô b√∂y√ºk v…ô ki√ßik h…ôrfl…ôrin sayƒ±nƒ± hesablayƒ±n.
- N√ºmun…ô simli: 'The quick Brow Fox'
- G√∂zl…ônil…ôn N…ôtic…ô:
- B√∂y√ºk h…ôrfl…ôrin sayƒ±: 3
- Ki√ßik h…ôrfl…ôrin sayƒ±: 12

In [18]:
def count_upper_lower_letter(text):
    uppers = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    lowers = "abcdefghijklmnopqrstuvwxyz"
    c = 0
    t = 0
    for i in text:
        if i in uppers:
            c += 1
        elif i in lowers:
            t += 1    
    print(f"In '{text}' text have {c} upper letter and {t} lower letter")
    # print(f" No. of Upper case characters : {c}")
    # print(f" No. of lower case characters : {t}")

string1 = 'The quick Brown Fox'
count_upper_lower_letter(string1)

In 'The quick Brown Fox' text have 3 upper letter and 13 lower letter

In [21]:
def count_upper_lower_letter(text):
    uppers = 0
    lowers = 0
    for i in text:
        if i.isupper():
            uppers +=1
        elif i.islower():
            lowers += 1    
    print(f" No. of Upper case characters : {uppers}")
    print(f" No. of Lower case Characters : {lowers}")

string1 = 'The quick Brown Fox'
count_upper_lower_letter(string1)

 No. of Upper case characters : 3
 No. of Lower case Characters : 13

#### 8. Write a Python function that takes a list and returns a new list with unique elements of the first list.
-  Go to the editor
- Sample List : [1,2,3,3,3,3,4,5]
- Unique List : [1, 2, 3, 4, 5]


#### 8. Siyahƒ± g√∂t√ºr…ôn v…ô birinci siyahƒ±nƒ±n unikal elementl…ôri il…ô yeni siyahƒ± qaytaran Python funksiyasƒ±nƒ± yazƒ±n.
-  Redaktora gedin
- N√ºmun…ô Siyahƒ±sƒ±: [1,2,3,3,3,3,4,5]
- Unikal siyahƒ± : [1, 2, 3, 4, 5]

In [25]:
def list_with_unique_elements(list1):
    x = set(list1)
    list1 = list(x)
    return list1

print(list_with_unique_elements([1,2,3,3,3,3,4,5]))



def unique_list(list1):
    x = []
    for a in list1:
        if a not in x:
            x.append(a)
    return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### 9. Write a Python function that takes a number as a parameter and check the number is prime or not.
- Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

### 9. Bir …ôd…ôdi parametr kimi q…ôbul ed…ôn Python funksiyasƒ±nƒ± yazƒ±n v…ô …ôd…ôdin sad…ô olub olmadƒ±ƒüƒ±nƒ± yoxlayƒ±n.
- Qeyd: Sad…ô …ôd…ôd (v…ô ya sad…ô) 1-d…ôn b√∂y√ºk v…ô 1 v…ô √∂z√ºnd…ôn ba≈üqa m√ºsb…ôt b√∂l…ônl…ôri olmayan natural …ôd…ôddir.

In [30]:
def check_a_prime_number(n):
    if n < 1:
        return "is not a natural number"
    elif n == 1:
        return "neither a prime nor a composite number"    
    for i in range(2, n):
        if not n % i:
            return "a composite number"
    else:
        return "a prime number"        

num = 7
print(check_a_prime_number(num))

a prime number

In [31]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True 
    
print(test_prime(17))

True

### 10. Write a Python program to print the even numbers from a given list. 
- Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
- Expected Result : [2, 4, 6, 8]

### 10. Verilmi≈ü siyahƒ±dan c√ºt …ôd…ôdl…ôri √ßap etm…ôk √º√ß√ºn Python proqramƒ± yazƒ±n. 
- N√ºmun…ô Siyahƒ±sƒ±: [1, 2, 3, 4, 5, 6, 7, 8, 9]
- G√∂zl…ônil…ôn N…ôtic…ô : [2, 4, 6, 8]

In [33]:
def print_even_numbers_from_list(list1):
    even_number_list = []
    for i in list1:
        if not i % 2:
            even_number_list.append(i)
    return even_number_list

print(print_even_numbers_from_list([1, 2, 3, 4, 5, 6, 7, 8, 9]))



def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]
[2, 4, 6, 8]

### 11. Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically. Go to the editor
- Sample Items : green-red-yellow-black-white
- Expected Result : black-green-red-white-yellow

### 11. S√∂zl…ôrin defisl…ô ayrƒ±lmƒ±≈ü ardƒ±cƒ±llƒ±ƒüƒ±nƒ± giri≈ü kimi q…ôbul ed…ôn v…ô s√∂zl…ôri …ôlifba sƒ±rasƒ± il…ô sƒ±raladƒ±qdan sonra defisl…ô ayrƒ±lmƒ±≈ü ardƒ±cƒ±llƒ±qla √ßap ed…ôn Python proqramƒ± yazƒ±n. Redaktora gedin

In [38]:
def sorting_alphabetically(string1):
    list1 = string1.split("-")
    list1.sort()
    string2 = "-".join(list1)
    return string2

word = "green-red-yellow-black-white"
print(sorting_alphabetically(word))

black-green-red-white-yellow

In [40]:
word = "green-red-yellow-black-white"

items=[n for n in word.split('-')] 
print(items)
items.sort()
print('-'.join(items))

['green', 'red', 'yellow', 'black', 'white']
black-green-red-white-yellow