## Lambda v…ô Built-in Functions

### Lambda

In [2]:
def myfunction(a,b):
    return a + b
myfunction(5, 3)

8

In [3]:
myfunction = lambda a, b: a + b     # funksiyanin qisa yazilisi

myfunction(5, 3)

8

In [4]:
def myfunction(a,b):
    c = a + b
    return c

In [7]:
myfunction = lambda a, b: a + b    # funksiyanin qisa yazilisi

myfunction(5, 3)

8

In [8]:
myfunction = lambda a, b: a + b if a < b else a - b

myfunction(5, 3)

2

In [9]:
# Find Biggest element(Nested If else in lambda)
def max(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

max(3,4,5)

5

In [14]:
find_max=lambda a, b, c: a if a>b and a>c else (b if b>a and b>c else c)

find_max(3,4,5)

5

In [15]:
find_max=lambda a, b, c: a if a>b and a>c else b if b>a and b>c else c

find_max(3,4,5)

5

In [17]:
def power(x):
    return x**2

power(5)

25

In [27]:
power = lambda x: x**2

power(5)

25

### Built-in Functions

#### 1. map() funsiyasi

- **Syntax: map(function, iterable)**
- **The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) or tuple() (to create a tuple).**

In [54]:
def power(n):
    return n ** 2

n = 5
list(map(power, range(n)))

[0, 1, 4, 9, 16]

In [55]:
def power(n):
    return n ** 2

list1 = [1,2,3,4,5]
map(power, list1)

In [56]:
def power(n):
    return n ** 2

list1 = [1,2,3,4,5]
list(map(power, list1))

[1, 4, 9, 16, 25]

In [58]:
def power(n):
    return 2** n

list1 = [1,2,3,4,5,6,7,8,9]
list(map(pow_2, list1))

[2, 4, 8, 16, 32, 64, 128, 256, 512]

In [62]:
def power(n):
    if n > 3:
        return n**2

n = 5
list(map(power, range(n)))

[None, None, None, None, 16]

### Bulit-in function + Lambda

In [64]:
list1 = [1,2,3,4,5,6,7,8,9]

list(map(lambda a: a**2, list1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
print(list(map(lambda n: n, range(10))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
print(list(map(lambda n: n, [1,2,3,4,5,6,7,8,9])))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
people = ["Aysu", "Rustem", "Aytan", "Cavad"]


up = list(map(lambda x: x.upper(), people))
up

['AYSU', 'RUSTEM', 'AYTAN', 'CAVAD']

In [76]:
name_a = lambda x: x if x[0]=="A" else None

new_name_list = list(map(name_a, people))
new_name_list

['Aysu', None, 'Aytan', None]

### Filter:
- **Syntax: filter(function, iterable)**
- **function: function that tests if each element of a sequence true or not.**
- **iterable: Iterable which needs to be filtered.**

In [77]:
list(filter(lambda n: n > 5, range(10)))

[6, 7, 8, 9]

In [78]:
list(map(lambda n: n > 5, range(10)))

[False, False, False, False, False, False, True, True, True, True]

In [79]:
list(map(lambda n: n + 5, range(10)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [82]:
list(filter(lambda n: n + 5, range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
people = ["Aysu", "Rustem", "Aytan", "Cavad"]

name_a = lambda x: x if x[0]=="A" else None

new_name_list = list(filter(name_a, people))
new_name_list

['Aysu', 'Aytan']

In [88]:
list(filter(lambda n: n, range(10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [120]:
# A dictionary Users(twitter database) is given in which we have username and tweets.
users = [
    {"username": 'aysel', "tweets": ["i love cake", "i am good"]},
    {"username": 'rustem', "tweets": []},
    {"username": 'cavad', "tweets": ["India", "Python"]},
    {"username": 'kenan', "tweets": []},
    {"username": 'asad', "tweets": ["i am good"]},
]

In [121]:
active_users = list(filter(lambda x: x['tweets'], users))
print("DICTIONARY OF USERS THAT HAVE NO TWEETS ARE \n",active_users)

DICTIONARY OF USERS THAT HAVE NO TWEETS ARE
 [{'username': 'aysel', 'tweets': ['i love cake', 'i am good']}, {'username': 'cavad', 'tweets': ['India', 'Python']}, {'username': 'asad', 'tweets': ['i am good']}]

In [122]:
for user_dict in active_users:
    print(user_dict["username"])

aysel
cavad
asad

In [123]:
users = [
    {"username": 'aysel', "tweets": ["i love cake", "i am good"]},
    {"username": 'rustem', "tweets": []},
    {"username": 'cavad', "tweets": ["India", "Python"]},
    {"username": 'kenan', "tweets": []},
    {"username": 'asad', "tweets": ["i am good"]},
]

# Filter users with no tweets and extract their usernames
active_users = list(map(lambda x: x['username'], filter(lambda x: x['tweets'], users)))

print(active_users)

['aysel', 'cavad', 'asad']

In [124]:
users = [
    {"username": 'aysel', "tweets": ["i love cake", "i am good"]},
    {"username": 'rustem', "tweets": []},
    {"username": 'cavad', "tweets": ["India", "Python"]},
    {"username": 'kenan', "tweets": []},
    {"username": 'asad', "tweets": ["i am good"]},
]


inactive_users = list(filter(lambda x: not x['tweets'], users))
print("DICTIONARY OF USERS THAT HAVE NO TWEETS ARE \n",inactive_users)

DICTIONARY OF USERS THAT HAVE NO TWEETS ARE
 [{'username': 'rustem', 'tweets': []}, {'username': 'kenan', 'tweets': []}]

In [97]:
print("USERS THAT HAVE NO TWEETS ARE \n",inactive_users[0]["username"])
print("USERS THAT HAVE NO TWEETS ARE \n",inactive_users[1]["username"])

USERS THAT HAVE NO TWEETS ARE
 rustem
USERS THAT HAVE NO TWEETS ARE
 kenan

In [125]:
for user_dict in inactive_users:
    print(user_dict["username"])

rustem
kenan

In [131]:
users = [
    {"username": 'aysel', "tweets": ["i love cake", "i am good"]},
    {"username": 'rustem', "tweets": []},
    {"username": 'cavad', "tweets": ["India", "Python"]},
    {"username": 'kenan', "tweets": []},
    {"username": 'asad', "tweets": ["i am good"]},
]

# Filter users with no tweets and extract their usernames
inactive_users = list(map(lambda x: x['username'], filter(lambda x: not x['tweets'], users)))

print(inactive_users)

['rustem', 'kenan']

### Zip:
- The zip() function returns an iterator of tuples based on the iterable object.
- If no parameters are passed, zip() returns an empty iterator
- If a single iterable is passed, zip() returns an iterator of 1-tuples. Meaning, the number of elements in each tuple is 1.
- If multiple iterables are passed, ith tuple contains ith Suppose, two iterables are passed; one iterable containing 3 and other containing 5 elements. Then, the returned iterator has 3 tuples. It‚Äôs because iterator stops when shortest iterable is exhaused.

In [133]:
print(list(zip([1,2,3], [5,9,8], [2,0,4])))

[(1, 5, 2), (2, 9, 0), (3, 8, 4)]

In [134]:
name = ["Ali", "Mustaga", "Cavad"]
student_id = [4, 1, 3]
marks = [40, 50, 60]

mapped = zip(name, student_id, marks)

print(list(mapped))

[('Ali', 4, 40), ('Mustaga', 1, 50), ('Cavad', 3, 60)]

In [136]:
name = ["Ali", "Mustaga", "Cavad"]
mapped = zip(name)
print(list(mapped))

[('Ali',), ('Mustaga',), ('Cavad',)]

In [138]:
name = ["Ali", "Mustaga", "Cavad"]
marks = [40, 50]

list(zip(name,marks))

[('Ali', 40), ('Mustaga', 50)]

### enumerate()

In [140]:
list(enumerate([5, 9, 3, 7, 2]))

[(0, 5), (1, 9), (2, 3), (3, 7), (4, 2)]

In [142]:
names = ["Ali", "Valid", "Casur"]

list(enumerate(names))

[(0, 'Ali'), (1, 'Valid'), (2, 'Casur')]

In [147]:
for i, j in enumerate(names):
    print(i, j)

0 Ali
1 Valid
2 Casur

### ∆èlav…ô n√ºmun…ôl…ôr

In [148]:
list1 = [10, 20, 30, 40, 50]

list(map(lambda x: (x**2, x**3), list1))

[(100, 1000), (400, 8000), (900, 27000), (1600, 64000), (2500, 125000)]

In [154]:
list1 = [1, 2, 3, 4]
list2 = [10, 20 , 30 , 40]

list(map(lambda x, y: x+y, list1, list2))

[11, 22, 33, 44]

In [155]:
list1 = [1, 2, 3, 4]
list2 = [10, 20 , 30 , 40]

list(filter(lambda x, y: x+y, list1, list2))

TypeError: filter expected 2 arguments, got 3

In [156]:
list1 = [10, 20 , 30 , 40]

list(map(lambda x: 'salam' + ' ' + str(x), list1))

['salam 10', 'salam 20', 'salam 30', 'salam 40']

In [157]:
list1 = [10, 20 , 30 , 40]

list(map(lambda x: f'salam {str(x)}', list1))

['salam 10', 'salam 20', 'salam 30', 'salam 40']

In [159]:
list1 = ['Idrak', 'Seyfullayev', 'works' 'intern', 'in', 'Data Science Academy']

print(list(map(lambda x: (x, len(x)), list1)))

[('Idrak', 5), ('Seyfullayev', 11), ('worksintern', 11), ('in', 2), ('Data Science Academy', 20)]

In [160]:
list_id = [1, 2, 3, 4]
list_name= ['Idrak', 'Adil', "Arif", 'Hakim']

print(list(map(lambda x, y: (f'id: {x}', f'name: {y}'), list_id, list_name)))

[('id: 1', 'name: Idrak'), ('id: 2', 'name: Adil'), ('id: 3', 'name: Arif'), ('id: 4', 'name: Hakim')]

In [162]:
list_id = [1, 2, 3, 4]
list_name= ['Idrak', 'Adil', "Arif", 'Hakim']

dict(map(lambda x, y: (f'id: {x}', f'name: {y}'), list_id, list_name))

{'id: 1': 'name: Idrak',
 'id: 2': 'name: Adil',
 'id: 3': 'name: Arif',
 'id: 4': 'name: Hakim'}

In [163]:
list_name= ['Idrak', 'Adil', "Arif", 'Hakim']

list(map(lambda x: x.count('a'), list_name))

[1, 0, 0, 1]

In [164]:
list_name= ['Idrak', 'Adil', "Arif", 'Hakim', 'Ashraf', 'Araz']

list(map(lambda x: x.count('a') + x.count('A'), list_name))

[1, 1, 1, 1, 2, 2]

In [165]:
list1 = [1, 2, 3, 4, 5, 6, 7, 9, 10]

list(filter(lambda x: x % 2, list1))

[1, 3, 5, 7, 9]

In [167]:
a = 'Az…ôrbaycan'

list(filter(lambda x: x.lower() in ['a', 'ƒ±', 'o', 'u', 'e', '…ô', 'i', '√∂', '√º'], a))

['A', '…ô', 'a', 'a']

In [170]:
string_of_integers = "1 -2 eg 3 -4 s 5 -6 7 "
    
result = list(filter(lambda x: x.isnumeric(), string_of_integers))
result

['1', '2', '3', '4', '5', '6', '7']

In [172]:
list(map(lambda x: int(x), result))

[1, 2, 3, 4, 5, 6, 7]

In [173]:
values = [5000, 6000, 7000, 8000, 9000]

list(map(lambda x: x+2000 if x < 8000 else x, values))

[7000, 8000, 9000, 8000, 9000]

In [175]:
list(filter(lambda x: x+2000 if x < 8000 else x, values)) # filter  i≈ül…ômir burda

[5000, 6000, 7000, 8000, 9000]

In [176]:
list1 = [1, 2, 3, 4, 5, 7, 8, 9, 10]

f'even numbers count: {len(list(filter(lambda x: not x % 2, list1)))}'

'even numbers count: 4'

In [177]:
list1 = [1, 2, 3, 4, 5, 7, 8, 9, 10]

f'odd numbers count: {len(list(filter(lambda x: x % 2, list1)))}'

'odd numbers count: 5'

In [179]:
list1 = [1, 2, 3, 4, 5, 7, 8, 9, 10]

def count():
    even_num_count = len(list(filter(lambda x: not x % 2, list1)))
    odd_num_count = len(list(filter(lambda x: x % 2, list1)))
    return (f'even num count: {even_num_count}, odd num count: {odd_num_count}')

count()

'even num count: 4, odd num count: 5'

In [180]:
given_list = ['apple', 'banana', 'orange', 'grapes', 'kiwi', 'melon', 'peach']

result = list(filter(lambda x: len(x)==6, given_list))

result

['banana', 'orange', 'grapes']

In [182]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

result = dict(zip(list1, list2))
result

{'a': 1, 'b': 2, 'c': 3}

In [185]:
list1 = [3, 1, 2]
list2 = ['c', 'a', 'b']

result = list(zip(list1, list2))
result

[(3, 'c'), (1, 'a'), (2, 'b')]

In [186]:
result = sorted(result)
result

[(1, 'a'), (2, 'b'), (3, 'c')]

### w3resource.  Python Lambda [ 52 Exercises with Solution ]

### 1. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.
 

### 1. Arqument kimi √∂t√ºr√ºl…ôn verilmi≈ü …ôd…ôd…ô 15 …ôlav…ô ed…ôn lambda funksiyasƒ± yaratmaq √º√ß√ºn Python proqramƒ± yazƒ±n, h…ôm√ßinin x arqumentini y arqumenti il…ô √ßoxaldan lambda funksiyasƒ± yaradƒ±n v…ô n…ôtic…ôni √ßap edin. Redaktora gedin

In [188]:
result1 = lambda a : a + 15
print(result1(10))

reslut2 = lambda x, y : x * y
print(reslut2(12, 4))

25
48

In [190]:

print((lambda x: (x % 2 and 'Odd number' or 'Even number'))(6))

Even number

### 2.  Write a Python program to filter a list of integers using Lambda. Go to the editor
- Original list of integers:
- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- Even numbers from the said list:
- [2, 4, 6, 8, 10]
- Odd numbers from the said list:
- [1, 3, 5, 7, 9]


### 2. Lambda istifad…ô ed…ôr…ôk tam …ôd…ôdl…ôrin siyahƒ±sƒ±nƒ± filtrl…ôm…ôk √º√ß√ºn Python proqramƒ± yazƒ±n. Redaktora gedin
- Tam …ôd…ôdl…ôrin orijinal siyahƒ±sƒ±:
- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- S√∂z√ºged…ôn siyahƒ±dan c√ºt r…ôq…ôml…ôr:
- [2, 4, 6, 8, 10]
- G√∂st…ôril…ôn siyahƒ±dan t…ôk n√∂mr…ôl…ôr:
- [1, 3, 5, 7, 9]

In [191]:
org_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num_list = list(filter(lambda x: not x % 2, org_list ))
print(f"Even numbers from the said list:\n{even_num_list}")

odd_num_list = list(filter(lambda x: x % 2, org_list))
print(f"Odd numbers from the said list:\n{odd_num_list}")

Even numbers from the said list:
[2, 4, 6, 8, 10]
Odd numbers from the said list:
[1, 3, 5, 7, 9]

In [194]:
(lambda x: (x % 2 and 'Odd number' or 'Even number'))(5)

'Even number'

In [195]:
(lambda x: (x % 2 and 'Odd number' or 'Even number'))(8)

'Even number'

In [196]:
print((lambda x: (x % 2 and 'Odd number' or 'Even number'))(5))
print((lambda x: (x % 2 and 'Odd number' or 'Even number'))(8))

Odd number
Even number

### 3. Lambda-dan istifad…ô ed…ôr…ôk verilmi≈ü s…ôtirin verilmi≈ü simvolla ba≈ülayƒ±b-ba≈ülamadƒ±ƒüƒ±nƒ± tapmaq √º√ß√ºn Python proqramƒ± yazƒ±n. Redaktora gedin

In [204]:
character = "A"
func = (lambda x: x.startswith(character))
func("Alma")

True

In [205]:
(lambda x: x.startswith(character))("Alma")

True

### 4. Write a Python program to find the intersection of two given arrays using Lambda. Go to the editor
- Original arrays:
- [1, 2, 3, 5, 7, 8, 9, 10]
- [1, 2, 4, 8, 9]
- Intersection of the said arrays: [1, 2, 8, 9]
- Click me to see the sample solution



### 4. Lambda istifad…ô ed…ôr…ôk verilmi≈ü iki massivin k…ôsi≈üm…ôsini tapmaq √º√ß√ºn Python proqramƒ± yazƒ±n. Redaktora gedin
- Orijinal massivl…ôr:
- [1, 2, 3, 5, 7, 8, 9, 10]
- [1, 2, 4, 8, 9]
- S√∂z√ºged…ôn massivl…ôrin k…ôsi≈üm…ôsi: [1, 2, 8, 9]
- N√ºmun…ô h…ôllini g√∂rm…ôk √º√ß√ºn m…ôn…ô klikl…ôyin

In [206]:
list_1 = [1, 2, 3, 5, 7, 8, 9, 10]
list_2 = [1, 2, 4, 8, 9]

list_intersection = list(filter(lambda x: x in list_2, list_1))
print(list_intersection)

[1, 2, 8, 9]

### 5. filter v…ô map birlikd…ô (5-d…ôn b√∂y√ºk …ôd…ôdl…ôri 2-y…ô vurmaq)

In [208]:
numbers = [1, 3, 5, 7, 9, 10, 12]

filtered_and_doubled = list(map(lambda x: x * 2, filter(lambda x: x > 5, numbers)))
filtered_and_doubled

[14, 18, 20, 24]

### 6. zip v…ô enumerate birlikd…ô (Ad v…ô ya≈ü c√ºtl…ôrini n√∂mr…ôl…ôm…ôk) - ya for il…ô √ßapa ver ya da dict-…ô yaz

In [228]:
names = ["Aysel", "R√ºst…ôm", "Cavad"]
ages = [25, 30, 22]

for i, (name, age) in enumerate(zip(names, ages), 1):
    print(f"{i}. {name} - {age} ya≈ü")

1. Aysel - 25 ya≈ü
2. R√ºst…ôm - 30 ya≈ü
3. Cavad - 22 ya≈ü

In [243]:
dict(enumerate(zip(names, ages)))

{0: ('Aysel', 25), 1: ('R√ºst…ôm', 30), 2: ('Cavad', 22)}

### 7. map + zip: ƒ∞ki listd…ôki uyƒüun elementl…ôri toplamaq

In [244]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]


list(map(lambda x: x[0] + x[1], zip(list1, list2)))

[5, 7, 9]

In [249]:
list(map(lambda x, y: x + y, list1, list2))

[5, 7, 9]

### 8. zip il…ô √áoxsaylƒ± Listl…ôrin Transponasiyasƒ±

In [250]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]


transposed = list(zip(*matrix))
transposed

[(1, 4, 7, 10), (2, 5, 8, 11), (3, 6, 9, 12)]

In [251]:
print(*matrix)

[1, 2, 3] [4, 5, 6] [7, 8, 9] [10, 11, 12]